{% extends "elections/base.html" %}

{% block headercss %}
<script type="text/javascript">
$(document).ready(function() {
    var input = '#id_statement';
    var count = input + '_count';
    word_count(input, count);
    $(this).keyup(function() { word_count(input, count) });
});
function word_count(field, count) {
    var number = 0;
    var matches = $(field).val().match(/\b/g);
    if(matches) {
        number = matches.length/2;
    }
    $(count).text( number + '/120 word' + (number != 1 ? 's' : ''));
}
</script>
{% endblock %}

{% block content %}
<div class="content">
	<h1>Register for the USG Election!</h1>
	{% if changes %} <strong style="color: red;">Your changes have been saved. </strong><br/>{% else %}{% if register %} <strong style="color: red;"> You have successfully been registered! </strong><br/> {% endif %}{% endif %}
	
	{% if candidate %}
	<h2> Preview </h2>
	<div class="office">
		<h2 class="officename">{{candidate.office}}</h2>
		<div class="candidate">
			<div class="photo"><img alt="Your picture" src="{% if candidate.headshot %}{{ candidate.headshot.url }}{% endif %}"/></div>
			<div class="statement">
				<h3 class="candidateName">{{candidate}}</h3>
				<p>{{candidate.statement|linebreaksbr}}</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<br />
	{% endif %}
	
	
	<div class="register">
		{% if candidate %}<h2>Edit Statement</h2>{% else %}<h2>Submit your statement</h2>{% endif %}
		<p> Deadline for registration is {{election.deadline|date:"N d"}} at {{election.deadline|date:" P"}} After that point, you will no longer be allowed to make any changes to your statement.</p>
		<table class="formTable">
			<tbody>
				<form enctype="multipart/form-data" id="register" action="/register" method="post">
					{% for field in candidateForm %}
					<tr>
                        {% if field.html_name == "statement" %}
                            <th class="tableLabel">{{field.label_tag}}:<br/>
                                <span id="id_statement_count"></span>
                            </th>
                        {% else %}
                            <th class="tableLabel">{{field.label_tag}}:</th>
                        {% endif %}
						<td>
							{{ field }}
						</td>
						{% if field.errors %}
		           		{% for error in field.errors %}
		               	<td style="color: red;">&bull; {{ error }}</td>
		               	{% endfor %}
						{% endif %}
					</tr>
					{% endfor %}
					<tr>
						<th></th>
						<td><input type="submit" class="submit", value="Submit" /></td>
					</tr>
				</form>
			</tbody>
		</table>
	</div>
	
	<br/>
	{% if candidate %}
	<div>
		<h2>Remove Registration</h2>
		<p> You can do it, but you'll make us sad pandas. </p>
		<form enctype="multipart/form-data" id="remove" action="/remove" method="post">
			<input type="hidden" id="netid" name="netid" value="{{ candidate.netid }}" />
			<input type="submit" class="submit", value="Remove" />
		</form>
	</div>
	{% endif %}
	
	{% if officeList %}
	<h2>How many people are running so far?</h2>
	<div>
		<table>
			{% for office, length in officeList.items %}
			<tr>
				<th>{{ office }}</th>
				<td style="padding-left: 20px;"> {{ length }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
			
	<script type="text/javascript">
	$('id_headshot').set('value', '{{candidate.headshot}}')
	</script>
</div>
{% endblock %}
