{% extends "elections/base.html" %}

{% block headercss %} {% endblock %}

{% block content %}
<div class="content">
	<h1>Candidate Statements</h1>
	{% for office, candidateList in officeCandidates.items %}
	<div class="office" style="margin-bottom: 20px;">
		<h2 class="officename">{{office}}</h2>
		{% for candidate in candidateList %}
		<div class="candidate">
			<div class="photo"><img alt="Your picture" src="{% if candidate.headshot %}{{ candidate.headshot.url }}{% endif %}"/></div>
			<div class="statement">
				<h3 class="candidateName">{{candidate}}</h3>
				<p>{{candidate.statement|linebreaksbr}}</p>
			</div>
			<div class="clear"></div>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
{% endblock %}