body
{
    margin: 0;
    padding: 5px;
}

p
{
    margin: 0;
}

.movie
{
    margin: 0 0 3px 0;
}

#poster
{
    float: left;
}

#information
{
    padding-left: 2px;
    float: left;
    width: 115px;
}