
html 
{ 
    height: 100%; 
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

body 
{ 
    height: 100%;
    margin: 0; 
    padding: 0; 
}

#wrapper1 /* entire page */
{
    position: relative;
    top: -30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#wrapper2 /* everything but tigerapps bar */
{
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#mainColumn
{
    width: 100%;
    min-width: 1040px;
    height: 100%;
    margin: 0 auto;
}

#fp_nav
{
    display: none;
    position: absolute;
    top: 4%;
    left: 37px;
    padding: 10px;
    background: url('images/wash-white-30.png');

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;

    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#fp_nav_whitebackground
{
    background: white;
    padding: 10px;
}

#map_canvas
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#queues_wrapper
{
    max-height: 35%;
    position: absolute;
    top: 4%;
    right: 37px;
    padding: 0px;
    border: 10px solid transparent;
    background: url('images/wash-white-30.png');
    width: 250px;
    overflow: auto;

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;

    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;

}

#queue
{
    background: white;
    padding: 10px;

    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}

#queues
{
    cursor:move;
}

.queued_room
{
    list-style-type: none;
    padding: 4px;
    cursor:move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.queued_room:hover
{
    background: whiteSmoke;
}

#settings
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url('images/sprites/plusminus.png') -71px 0;
}

#settings:hover
{
    background-position: -93px 0;
}

#room_queue
{
    padding-top: 10px;
}

a.link_in_queue
{
    display: inline;
}

.queue_button
{
    background: grey;
    color: white;
    display: inline;
    padding: 6px 9px;
    float: left;
    margin: 0 10px;
}

.clearfloat
{
    clear: both;
}

li
{
    font-size: 12px;
    padding: 5px;
}
.queue_rooms
{
    font-size: 12px;
    
}
.queue_drag
{
    /* begin add */
    /*max-height: 130px;*/
    width: 90%;
    height: 80%;
    /* overflow:scroll;*/
    padding: 5%;
    /* end add */
    /* margin: 10px; */
}

thead {

    background-color: #eee;
    color: #666666;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

td
{
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
}

#scrollarea tr:hover td
{
    cursor: pointer;
    background: whiteSmoke !important;
}

.addRoom
{
    vertical-align: middle;
    background: url('images/sprites/plusminus.png') 0 0;
    width: 16px;
    height: 20px;
    display: inline-block;
}

.addRoom:hover
{
    background-position: -34px 0;
}

.removeRoom
{
    vertical-align: middle;
    background: url('images/sprites/plusminus.png') -17px 0;
    width: 18px;
    height: 20px;
    display: inline-block;
}

.removeRoom:hover
{
    background-position: -51px 0;
}

.removeInQueue
{
    position: absolute;
    right: 15px;
    visibility: hidden;
    margin-top: -3px;
}

.queued_room:hover .removeInQueue
{
    visibility: visible;
}

h1
{
    font-size: 20px;
}

/*
input
{
    margin-left: auto;
    margin-right: auto;
    /* width: 20px; */
/*}*/

#tableheadings
{
    height: 30px;
    font-weight: bold;
    border: 3px black;
}

#addremoveTab
{
    cursor: pointer;
    width: 43px;
}

#expandMap, #contractMap, #restoreMap
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: 26px;
    height: 16px;
    position: absolute;
    top: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 18px; -webkit-border-radius: 18px; -moz-border-radius: 18px;
    text-align: center;
    font-size: 16px;
} 

#expandMap:active, #contractMap:active, #restoreMap:active, .queue_button:active
{ 
    top: 6px;
}

#expandMap 
{
    background: #f90; 
    right: 9px;
}

#restoreMap 
{
    background: #fff; 
    right: 51px;
}

#contractMap 
{
    background: #696969; 
    right: 93px;
}

#expandMap:hover, #contractMap:hover, #restoreMap:hover, #create_queue:hover 
{
    cursor: pointer;
}

#roomListWrapperBigger
{
    transition: height .2s;
    -moz-transition: height .2s; /* Firefox 4 */
    -webkit-transition: height .2s; /* Safari and Chrome */
    -o-transition: height .2s; /* Opera */
    position:absolute;
    height: 50%;
    /*padding: 0 10px;*/
    border: 10px solid transparent;
    border-radius: 5px;
    left: 37px;
    right: 37px;
    bottom: 0;
    background: url('images/wash-white-30.png');
    overflow: auto;
    margin-bottom: -10px;

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

#roomListWrapper
{
    overflow: auto;
    background: url('images/wash-white-30.png');
}

#roomlist
{
}
/*
#roomlist
{
    height: 87%;
    width: 920px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 60px;
}

#tableall
{
    width: 940px; height: 100%;
    overflow: scroll;
*/

#test
{
    /*height: 412px;*/
    height: 100%;
    padding: 0px;
    /*overflow: scroll;*/
}

#drawtab
{
    height: 94%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}
}

#tabs
{
    /*overflow: scroll;*/
}


/* Floor plan styles */

#floorplan_canvas
{
    height: 0px;
    width: 0px;
    overflow: hidden;
    position: absolute;
}

#floorplan_img
{
    position: absolute;
    left: 0px;
    top: 0px;
    cursor:move;

}

.fp_button
{
    height: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

#fp_title
{
    display: inline;
}

#fp_back_button
{
    vertical-align: inherit;
    left: 30px;
    top: 30px;
    width: auto;
    height: auto;
    font-size: 20px;
    color: #f90;
}

#fp_zoomin_button
{
    width: 16px;
    background: url('images/sprites/plusminus.png') 0 0;
}

#fp_zoomin_button:hover
{
    background-position: -34px 0;
}

#fp_zoomout_button
{
    width: 18px;
    background: url('images/sprites/plusminus.png') -17px 0;
}

#fp_zoomout_button:hover
{
    background-position: -51px 0;
}

#fp_floorup_button
{
    width: 16px;
    background: url('images/sprites/plusminus.png') 0 0;
    margin-right: 16px;
}

#fp_floorup_button:hover
{
    background-position: -34px 0;
}

#fp_floordown_button
{
    width: 18px;
    background: url('images/sprites/plusminus.png') -17px 0;
}

#fp_floordown_button:hover
{
    background-position: -51px 0;
}

/* Settings page styles */
#settings_container
{
    background-color: #D6D6D6;
    /* margin: 75px 150px 75px 150px;*/
    margin: 0px;
    padding: 50px;
}

#settings_container p
{
    padding: 5px 40px 5px 15px;
}

#settings_container h1, h2, h3, h4, p
{
    padding: 15px;
}

.error_message
{
    color: #CC0000;
    font-weight: bold;
}

/* Queue invitation styles */
.queue_invite
{
    background-color: #333333;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    margin: 5px 40px 5px 15px;
    width: 50%;
}

.queue_invite p
{
    padding: 5px;
}

.shared_queue
{
     background-color: #333333;
     color: #FFFFFF;
     font-weight: bold;
     padding: 5px;
     margin: 5px 40px 5px 15px;
     width: 50%;
}

#room_view_wrapper
{
    width: 100%;
}

.right
{
    position: absolute;
    right: 0px;
}

a
{
    text-decoration: none;
}

a:link
{
    color: #dc7d00;
}

a:hover
{
    cursor: pointer;
    text-decoration: underline;
}

a:visited
{
    color: #f90;
}

a.fancyroom
{
    color: #222;
}

.various
{
    display: block;
    /*text-decoration: none;*/
}

.fancyroom
{
    display: block;
    text-decoration: none;
    color: #222;
    font-size: 13px;
}

#room_view
{
    text-size: 13px;
    color: #222;
}
#room_view_head
{
    text-align: center;
    padding: 10px;
}

#room_view_avail
{
    font-size: 20px;
    color: #00ce00; 
    text-align: center;
    padding-bottom: 6px;
    padding-top: 30px;
}

#room_view_top_line
{
    font-size: 14px;
    margin: 0 auto;
}

#room_view_unavail
{
    color: #e30000;
    font-size: 20px;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 30px;
}
#room_view_head2
{
    text-align: center;
    font-size: 14px;
}

#room_view_table tbody tr td
{
    /*border-collapse: collapse;
    border: 3px solid black;*/
    font-size: 13px; 
    text-align: left;
    padding: 7px 20px;
}

#room_view_table
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#room_view_tablehead
{
	font-size: 13px;

}

#room_view_tablebody, #room_view_info ul
{
	font-size: 13px;
}

#review_button
{
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.review_content
{
    max-width: 315px;
}

/*#button_wrapper
{
    margin-left: auto;
    margin-right: auto;
        display: block;
}*/
/*
input[type="submit"]
{
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10x;
    margin-bottom: 10px;
    display: block;
}
*/
p, table
{
    font-size: 13px;
}