html 
{ 
    height: 100%; 
}
              
body 
{ 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    background: #F5F5F5;
    font-family: Helvetica, sans-serif;
    font-size: 11xpapx;

}

li:hover
{
    cursor: pointer;
}
#wrapper1 /* entire page */
{
    position: relative;
    top: -30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#wrapper2 /* everything but tigerapps bar */
{
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 10px;
    left: 0;
    overflow: hidden;
}

#mainColumn
{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#top_half
{
    height: 49.25%; width:100%;
    position: relative;
    transition: height .2s;
    -moz-transition: height .2s; /* Firefox 4 */
    -webkit-transition: height .2s; /* Safari and Chrome */
    -o-transition: height .2s; /* Opera */
}

#map_canvas
{
    height: 100%;
    width: 69.5%;
    position: absolute;
    top: 0;
    left: 0;
}

#top_right
{
    height: 100%;
    width: 29.5%;
    background-color: white; /*#E6E6E6;*/
    position: absolute;
    top: 0;
    right: 0;
}

#greeting
{
    height: 10%;
    width: 100%;    
}

#settings
{
    width: 100%;
    height: 10%;
}

#queues
{
    height: 80%;
    width: 100%;
    position: static;
}

.queue_button
{
    background: grey;
    color: white;
    display: inline;
    padding: 6px 9px;
    float: left;
    margin: 0 10px;
}

.clearfloat
{
    clear: both;
}

li
{
    font-size: 12px;
    padding: 5px;
}
.queue_rooms
{
    font-size: 12px;
    
}
.queue_drag
{
    /*max-height: 130px;*/
    width: 90%;
    height: 80%;
    overflow:scroll;
    padding: 5%;
}

thead {

    background-color: #eee;
    color: #666666;
    font-weight: bold;
    cursor: pointer;
}

td
{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    text-align: center;
}

.queue_contents:hover
{
    cursor: pointer;
}
h1
{
    padding: 10px;
    font-size: 20px;
}

input
{
    margin-left: auto;
    margin-right: auto;
    width: 20px;
}

#middle_buffer
{
    height: 1.5%;
}
     
#dataPanel
{
    height: 49.25%;
    background-color: #E6E6E6; position: relative; font-family: Helvetica;
    transition: height .2s;
    -moz-transition: height .2s; /* Firefox 4 */
    -webkit-transition: height .2s; /* Safari and Chrome */
    -o-transition: height .2s; /* Opera */
} 

#tableheadings
{
    height: 30px;
    font-weight: bold;
    border: 3px black;
}

#expandMap, #contractMap, #restoreMap
{
    width: 26px;
    height: 16px;
    position: absolute;
    top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 18px; -webkit-border-radius: 18px; -moz-border-radius: 18px;
    text-align: center;
    font-size: 16px;
} 

#expandMap:active, #contractMap:active, #restoreMap:active, .queue_button:active
{ 
    top: 11px;
}

#expandMap 
{
    background: #f90; 
    right: 9px;
}

#restoreMap 
{
    background: #fff; 
    right: 51px;
}

#contractMap 
{
    background: #696969; 
    right: 93px;
}

#expandMap:hover, #contractMap:hover, #restoreMap:hover, #create_queue:hover 
{
    cursor: pointer;
}

#addremove:hover
{
    cursor: pointer;
    font-weight: bold;
}
#roomListWrapper
{
    display: block;
    position:absolute;
    height:auto;
    bottom:10px;
    top:10px;
    left:10px;
    right:10px;
    overflow: scroll;
}

#roomlist
{
}
/*
#roomlist
{
    height: 87%;
    width: 920px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 60px;
}

#tableall
{
    width: 940px; height: 100%;
    overflow: scroll;
*/

#test
{
    /*height: 412px;*/
    height: 100%;
    padding: 0px;
    /*overflow: scroll;*/
}

#drawtab
{
    width: 910px;
    height: 417px;
    height: 94%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}
}

#tabs
{
    /*overflow: scroll;*/
}


/* Floor plan styles */

#floorplan_canvas
{
    height: 0px;
    width: 0px;
    overflow: hidden;
    position: absolute;
}

#floorplan_img
{
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: -moz-grab;
}

.fp_button
{
    padding: 3px;
    position: absolute;
    background-color: #CC6600;
    color: #FFFFFF;
    width: 80px;
    border: 2px black solid;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}

#fp_back_button
{
    left: 30px;
    top: 30px;
}

#fp_zoomin_button
{
    left: 30px;
    top: 60px;
}

#fp_zoomout_button
{
    left: 30px;
    top: 80px;
}

#fp_floorup_button
{
    left: 30px;
    top: 110px;
}

#fp_floordown_button
{
    left: 30px;
    top: 130px;
}

/* Settings page styles */
#settings_container
{
    background-color: #D6D6D6;
    margin: 75px 150px 75px 150px;
    padding: 75px;
}

#settings_container h1, h2, h3, h4, p
{
    padding: 15px;
}

.error_message
{
    color: #CC0000;
    font-weight: bold;
}