<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="/static/my/js/jquery-1.6.2.min.js" ></script>
	<link rel="stylesheet" href="/static/my/css/myapp.css" type="text/css" media="screen" charset="utf-8" />
	<title>Anonymous Email</title>
</had>
<body style="margin: 0 5px;">
	{% if error %}
	<p style="color:red; margin: 0 3px 5px 0; padding: 0;">
	{% else %}
	<p style="margin: 0 0 5px 0; padding: 0;">
	{% endif %}
	{{ message }}</p>
	
	<form>
		<p style="margin:0 0; display: inline;">Netid:</p><br/><input type="text" name="netid" style="width:110px" /><p style="margin:0 0 0 5px; display: inline;">@princeton.edu</p><br/>
		<p style="margin:0 0; display: inline;">Subject:</p><br/><input type="text" name="subject" style="width:155px" /><input type="submit" value="Send" name="submit" style="margin-left: 5px;" /><br/>
		<p style="margin:0 0; display: inline;">Content:</p><br/><textarea rows="7" cols="27" name="content"></textarea>
	</form>
</body>
</html>
