<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="/media/my/js/jquery-1.6.2.min.js" ></script>
	<link rel="stylesheet" href="/media/my/css/myapp.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/media/my/myapp/css/card_s.css" type="text/css" media="screen" charset="utf-8" />
	<title>MealChecker</title>
</head>
<body>
{% if not hostExchanges and not guestExchanges and not completeExchanges %}
<h3>No exchanges this month. </h3>
{% endif %}

{% if hostExchanges or guestExchanges %}
<h2>Open Exchanges:</h2>
{% endif %}

{% if hostExchanges %}
You should be a Guest at:
<table border="1">
<tr><th> Host</th>
<th> Club </th>
<th> Date of First Meal </th>
<th> Meal Type</th></tr> 
<br>
{% for exchange in hostExchanges %}
<tr> 
   <td>{{ exchange.meal_1.guest.first_name }} {{ exchange.meal_1.guest.last_name }}</td>   
   <td>{{ exchange.meal_1.guest.club }}</td>
   <td>{{ exchange.meal_1.date|date:"M d, Y" }}</td> 
   <td> {{ exchange.meal_1.meal_type }}</td>
</tr>
{% endfor %}
</table>
<br>
{% endif %}

{% if guestExchanges %}
You should Host:
<table border="1">
<tr><th> Guest</th>
<th> Club </th>
<th> Date of First Meal </th>
<th> Meal Type</th></tr> 
<br>
{% for exchange in guestExchanges %}
<tr> 
   <td>{{ exchange.meal_1.host.first_name }}  {{ exchange.meal_1.host.last_name }} </td>
   <td>{{ exchange.meal_1.host.club }}</td>
   <td>{{ exchange.meal_1.date|date:"M d, Y" }}</td>
   <td> {{ exchange.meal_1.meal_type }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if completeExchanges %}
<h2> Completed Exchanges: </h2>
<table border="1">
<tr><th> Date of First Meal</th>
<th> Host Name </th>
<th> Date of Second Meal </th>
<th> Host Name </th>
<th> Meal Type </th> </tr> 
<br>
{% for exchange in completeExchanges %}
<tr> 
  <td>{{ exchange.meal_1.date|date:"M d, Y" }}</td> <td>{{ exchange.meal_1.host.first_name }} {{ exchange.meal_1.host.last_name }}</td>
  <td>{{ exchange.meal_2.date|date:"M d, Y" }} </td><td> {{ exchange.meal_1.guest.first_name }} {{ exchange.meal_1.guest.last_name }}</td> <td>{{ exchange.meal_2.meal_type }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
</body>
</html>
