<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/media/my/css/myapp.css" type="text/css" media="screen" charset="utf-8" />
	<title>Hamster!</title>
</head>
<body>
	<div style="display: block; width: 226px; margin: 0 auto;"><embed id="flashID" width="226" height="175" wmode="opaque" flashvars="up_backgroundColor=FFFFFF" quality="high" bgcolor="#FFFFFF" name="flashID" src="http://my.tigerapps.org/media/my/swf/hamster.swf" type="application/x-shockwave-flash" /></div>
</body>
</html>