<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/media/my/css/myapp.css" type="text/css" media="screen" charset="utf-8" />
	<title>Add MyApp</title>
</head>
<body>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elit nisl, sollicitudin vestibulum dignissim sit amet, eleifend et mauris. Aliquam tempus ipsum sed dolor malesuada at porttitor ipsum gravida. Suspendisse dictum rhoncus nisi, ut vehicula lorem vestibulum in. Sed mollis risus id elit vestibulum tempus. Morbi tempor posuere orci, nec convallis nunc venenatis sed. Vivamus et nibh libero, quis gravida leo. Aenean at semper tellus. Sed condimentum porttitor congue. Maecenas sollicitudin suscipit leo, et sodales sapien molestie molestie. Fusce laoreet tellus vitae odio elementum congue. Nulla rhoncus enim consequat mauris accumsan blandit pulvinar arcu facilisis. Suspendisse convallis lobortis imperdiet. Aliquam vulputate nisl eu mauris interdum mattis. In volutpat accumsan enim, nec rhoncus ante porttitor vel. Duis arcu urna, egestas ut hendrerit at, feugiat at elit. Praesent at urna tortor, a congue mauris. </p>
	
</body>
</html>