<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/media/my/css/myapp.css" type="text/css" media="screen" charset="utf-8" />
	<title>Add MyApp</title>
</head>
<body>
	<div style="text-align: center;"><h2 style="padding: 30px 0; margin: 0;">Sorry!</h2><br/> This MyApp is only available in the middle column.</div>
	
</body>
</html>