/*
 * Princeton Events Calendar CSS
 * Originally written by Jonny Weiss for PTX
 * 4/29/09
 * Modified by Hao Lian after Trinston's Redesign
 * 07/19/09
 * Modified by Michael Yaroshefsky for Princeton Events Calendar
 * 04/1/10 
 */

@import url('reset.css');

/* ------ Base template css -------- */
html {
    height: 100%;
    margin-bottom: 1px;
}

body, input, textarea {
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 13px;
}

body {
    background-color: black;
    background-image: url('img/background-pattern.gif');
    color: white;
    line-height: 1.5;
    /* Overlay. */
    min-height: 652px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.clear {
    clear: both;
}

h1#title {
	font-size: 22px;
	color: #333;
	letter-spacing: 0.07em;
	padding-top: 8px;
	padding-bottom: 6px;
	font-weight: 600;
}
p.subtitle {
	font-size: 16px;
	color: #555;
	font-style: italic;
	position: relative;
	top: -10px;
	padding-bottom: 6px;
	font-weight: normal; !important
}

#subtitle {
	font-size: 18px;
	color: #d45100;
	letter-spacing: 0.03em;
	padding-top: 4px;
	padding-bottom: 6px;
	font-weight: normal; !important
}


div.error {
    background: #FFC7EC;
    border: 1px solid #FFA1E0;
    padding: 10px;
    margin: 1em 0;
}

#footer {
    text-align: center;
    margin-top: 5em;
    padding-bottom: 1em;
}

#footer, #footer a {
    color: #9c9c9c;
}

/* ---------- Navigation ---------- */
#nav {
    width: 100%;
    margin-top: 20px;
    background-color: black;
    background-image: url('img/nav-pattern.png');
    background-repeat: repeat-x;
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
}

#nav td {
    vertical-align: middle;
}

#nav #links {
    min-width: 397px;
}

#nav #search {
    text-align: right;
    padding-right: 18px;
}

#nav ul {
	height: 50px;
    padding-left: 16px;
}

#nav ul li {
    display: inline-block;
}

#nav li a {
	font-size: 22px;
	color: white;
	text-decoration: none;
	padding: 8px 8px 0 8px;
    display: block;
}

/* ---------- Account information ---------- */
#account {
    color: white;
    font-weight: bold;
    background: url('img/sub-nav-pattern.png');
    background-repeat: repeat-x;
    background-color: #ffb55d;
}

#account a {
    color: white;
}


/* ---------- Error Pages ---------- */
.errordoc {
	font-size: 14px;
    border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;	
}
.errordoc h1 {
	font-size: 28px;
	color: black;
}
.errordoc .url {
	font-family: courier;
	color: black;
	font-weight: bold;
}

.errordoc ul {

}

.errordoc li {
	padding-left: 3em;
}

.errordoc p {
	padding-top: 10px;
	margin-bottom: 0px;
}

.errorlist {
	color: red;
}

/* ----------- Content ------------ */
#content {
    background: #efefef;
    color: black;
    display: block;
    margin-top: 0;
    padding: 0 25px;
}

#content p {
    margin: 0.5em 0;
}

#container {
    margin: auto;
    width: 920px;
}

#container a {
    text-decoration: underline;
}

#container a:hover {
    text-decoration: none;
}

#container h2 {
    margin-bottom: 0.67em; /* 1.5 * 0.67 = 1 */
    font-weight: bold;
    font-size: 1.5em;
}

#container h3 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.42em 0; /* 0.42 * 1.2 = 0.5 */
    padding-top: 0.83em; /* A little bit more spacing */
}

#container h4 {
    margin: 0.5em 0;
    padding-top: 1em;
}

/* ------------ Accordion ------------- */

.accordion-master {
	margin: 6px; 
	background-color: #efefef;
}

.accordion-set {
	width: 552px;
}
.accordion-title {
	background-color: #ffcda3; 
	font-size: 14px; 
	font-weight: bold; 
	padding-bottom: 4px; 
	padding-left: 4px; 
	border: 1px Solid #000; 
	color: #333;
}

.accordion-content {
width: 550px; 
margin-bottom: 6px; 
padding-bottom: 6px; 
border: 1px Solid #ccc;
}



/* ------------ Message ------------- */

#content>div.message {
	border: 2px solid #333;
}
#message {
	background: #fff;
	padding: 10px;
	border: 1px solid #333;
	box-shadow: 0 6px 5px #888;
/*	width: 100%;*/
}


/* ------------ Sidebar ------------- */


#rightcol {
	float: right;
    padding-left: 15px;
    width: 220px;
    display: inline-block;
}

.sidebar {
	width: 220px;
    margin-bottom: 20px;
}

.sidebar-title {
    background: url('img/sub-nav-pattern.png');
    background-repeat: repeat-x;
    background-color: #ffb55d;
    color: black;
    height: 40px;
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;    
}

.sidebar-title h3{
    font-size: 13px;
    padding-left: 10px;   
}

.sidebar-content {
    background: #e0e0e0;
    color: black;
    border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
}

.sidebar-content ul {
    list-style: none;
    padding: 10px;
}

.sidebar-content ul ul {
    color: #555;
    list-style: none;
    padding: 0px;
}

.sidebar-content ul ul li {
    padding-left: 5px;
    font-size: 0.75em;
}

.action {
    font-size: 0.90em;
    margin-left: 5px;
    font-weight: 500;
}

.sidebar-content ul li {
    padding-bottom: 2px;
}

.sidebar-content ul li a {
    text-decoration: none;
}

/* ------------ Spotlight ------------- */

#spotlight {
    background: #efefef;
    color: black;
    padding: 14px 18px;
	clear: both;
	height: 210px;
	display: block;
	border-top: 1px dotted black;
    border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;	
}

.spotlight-item {
	margin: 10px 0;
	float: left;
}

#spotleft {

	width: 32%;
}
#spotcenter {
	padding: 0 2%;
	width: 32%;
}
#spotright {

	width: 32%;
}


.spotlight-title {
    background: url('img/sub-nav-pattern.png');
    background-repeat: repeat-x;
    background-color: #ffb55d;
    color: black;
    height: 40px;
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;    
}

.spotlight-title h3{
    font-size: 13px;
    padding-left: 10px;
}

.spotlight-more {
	font-size: 10px;
	float: right;
	font-weight: normal;
	color: #333;
	vertical-align: bottom;
	padding-right: 4px;
	position: relative;
	top: 8px;
}

.spotlight-content {
    background: #e0e0e0;
    color: black;
    height: 140px;
    border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
}

.spotlight-content ul {
    list-style: none;
    padding: 10px;
}

.spotlight-content ul ul {
    color: #555;
    list-style: none;
    padding: 0px;
}

.spotlight-content ul li {
    padding-bottom: 2px;
}
.spotlight-content ul ul li {
    padding-left: 5px;
    font-size: 0.75em;
}

.spotlight-content ul li a {
    text-decoration: none;
}


/* ------------ Header ------------- */

#header {
    margin-bottom: 1em;
}

#header a {
   	height: 70px;
    width: 700px;
    display: block;
    background-image: url('img/pec_logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999%;
    margin-bottom: -20px;
    /*margin: 0 auto;*/
    padding: 0.5em 0;

}

/* Purely presentational markup, high five. */
#overlay {
    height: 652px;
    width: 985px;
    margin-bottom: -652px;

    background-color: transparent;
    background-image: url('img/background-radiation.png');
    background-repeat: no-repeat;
}

/* ---------- Events listing ---------- */

.events {
	width: 72%;
	list-style: none;
}


.events>li {

}
.events>li.date {
	padding-top: 10px;
	font-size: 18px;
	border-bottom: 1px dashed black;
}

.events>li>ul {
	list-style: none;
	padding-bottom: 10px;
}

/*
.events>ul:hover {
	background: #e2e2e2;
}
*/

.events>li>ul:hover>div#menu_ev ul.flevel {
    visibility: visible;
}

.events>li>ul>li.event-title {
	font-size:14px;
	text-align: left;
	padding-left: 110px;
}
.events>li>ul>li.event-title-alt {
	font-size:14px;
	text-align: left;
	padding-left: 110px;
	position: relative;
	top: 12px;
}

.strikethrough {
	text-decoration: line-through;
}

.event_owner {
	background: #d6e4e8;
}

.events>li>ul>li.event-time {
	font-size:18px;
	text-align: right;
	margin-top: -20px;
	width: 100px;
}

.events>li>ul>li.event-time-alt {
	font-size:18px;
	text-align: right;
	margin-top: -20px;
	width: 100px;
}

.events>li>ul>li>span.event-date-abovetime {
	font-size:14px;
	text-align: right;
	padding-top: 6px;
	padding-bottom: -4px;
	position: relative;
	display: block;
	top: 0px;
	width: 100px;
	
}

.events>li>ul>li.event-subtext {
	font-size:10px;
	text-align: left;
	padding-left: 110px;
	margin-top: -8px;
}

.events>li>ul>li.event-subtext-alt {
	font-size:10px;
	text-align: left;
	padding-left: 110px;
	margin-top: -8px;
	position: relative;
	top: -16px;
}

.events>li>ul>li.event-subtext2 {
	font-size:10px;
	text-align: left;
	padding-left: 110px;
	margin-top: 0px;
	color: #555;
}

/* ---------- Single Event ---------- */

#event_top {
	padding-top: 8px;
}

#event_top>h1 {
	display: inline;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.1ex;
	color: #000;
	width: 60%;
	margin-bottom: 0px;
	margin-top: 12px;
	padding-top: 12px;
	clear: both;
}
#event_top>h2 {
	display: inline;
	font-size: 16px;
	font-weight: 300;
	color: #333;
	margin-bottom: 0px;
	margin-left: 8px;
	clear: both;
}
#event_top img {
	width: 220px;
	float: right;
}

.event_cancelled {
	color: red !important;
	text-decoration: line-through;
}
.event_cancelled_extra {
	color: red;
	font-size: 14px;
	font-variant: small-caps;
	letter-spacing: 0.1em;
}

#datetimeloc {
	display: block;
	letter-spacing: 0.1ex;
	font-size: 13px;
	width: 70%;
}
#attendeecount {
	float: right;
	display: block;
}
#event_boxes {
	
}


#detaildisp {
	width: 260px;
	background: #ddd;
	font-size: 11px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	display: block;
}
#detaildisp .content{
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

#detaildisp h3 {
    background-color: #ffb55d;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 0 6px 2px;
	padding-left: 10px;
}
#detaildisp ul {
	margin-left: 8px;
	list-style: none;
	font-size: 11px;
}
#detaildisp ul .field {
	font-weight: bold;
	letter-spacing: 0.05em;
}

.disp_right {
	float: right;
}
.disp_left {
	float: left;
}

#detaildisp #cal_status {
	height: 46px;
	width: 240px;
	margin: auto;
	margin-top: 6px;
	text-align: center;
	letter-spacing: 0.05em;
	font-size: 18px;
	background-image: url('img/cal_status.png');
    background-repeat: no-repeat;
    overflow: visible;
}

#detaildisp .green {
	background-color: #d7ff85;
}
#detaildisp .blue {
	background-color: #adcae8;
}
#detaildisp .red {
	background-color: #ff5e5e;
}
#detaildisp .lblue {
	background-color: #d6e4e8;
}

#detaildisp #cal_status a {
	vertical-align: -40%;
	color: #000;
}

#detaildisp .sub {
	height: 14px;
	text-align: right;
	font-size: 10px;
	padding-right: 4px;
	padding-bottom: 4px;
}

#detaildisp .cal_action {
	height: 26px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	letter-spacing: .05em;
	padding-top: 6px;
	margin-bottom: 12px;
	text-decoration: none;
	float: left;
}


.two_actions {
	width: 50%;
	background-image: url('img/two_action.png');
    background-repeat: no-repeat;	
}
.two_actions:hover {
	background-image: url('img/two_action_hover.png');
}

.one_action {
	width: 100%;
    background-image: url('img/one_action.png');
    background-repeat: no-repeat;	
}
.one_action:hover {
	background-image: url('img/one_action_hover.png');
}

#detaildisp #ext_cal {
	border: 1px black;
	font-size: 11px;
	font-variant: small-caps;
	letter-spacing: 0.05em;
	color: #333;
	background: #d0d0d0;
}

#detaildisp #invite_results{
	background: #efefef;
	padding: 4px;
	margin-top: 8px;
}
#detaildisp #invite_results h4{
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 6px;
	padding-top: 2px;
}
#detaildisp #invite_results p {
	font-size: 11px;
	text-align: right;
}

#detaildisp #invite_results ul{
}

#detaildisp #invite_results ul li {
	font-size: 12px;
	text-decoration: underline;
	margin-bottom: 4px;
}

#event_body {
	padding-right: 10px;
}

#detaildisp #poster {
	width: 260px;
	margin: auto;
}
#event_body #desc_text {
	
}

#attendees_list {
	width: 70%;
}
#attendees_list li {
	width: 15em;
	float: left;
}

#attendees_list li.extra {
	font-style: italic;
}

/* ---------- Message Board ---------- */

.bm_container {
	width: 65%;
	background: #e9e9e9;
	padding: 2px 6px 4px 6px;
	margin-bottom: 8px;
	
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

.bm_container .bm_title {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.05ex;
}

.bm_container .bm_newpost_title{
	font-size: 12px;
	font-weight: bold;
	color: #555;
	letter-spacing: 0.05ex;
}

.bm_container .bm_body {
	font-size: 11px;
	padding: 0 8px;
}

.bm_container textarea {
	background: #e9e9e9;
}

.bm_container .bm_about {
	text-align: right;
	font-size: 9px;
	color: #333;
}

.bm_container .bm_about .postauthor{
	font-weight: bold;

}

.bm_container .bm_submit {
	float: left;
	margin-bottom: 16px;
	margin-left: 4px;
}

.bm_container #bm_tinylink {
	visibility: hidden;
	float:right;
	text-decoration: none;
	padding-right: 4px;
	font-size: 10px; 
	font-weight: normal; 
	letter-spacing: -0.05ex;
}

div.bm_container:hover>p>a#bm_tinylink {
	visibility: visible;
}

.right {
    float: right;
}

.imageright {
    float: right;
    padding-left: 5px;
}

.imageleft {
    float: left;
    padding-right: 10px;
}

/* ---------- Add/modify event ---------- */

.required {
   font-size:10px;
   color:gray;
}

.tableLabel {
   vertical-align:top;
   line-height:90%;
}


/* ---------- Debug ---------- */

#debug {
	background-color: black;
	border: 3px solid #333;
	color: green;
	font-family: "Courier", monospace;
    font-size: 14px;
	padding: 10px 2px;
	margin: 20px 0;
}
