{% load value_from_settings %}
<h3 id="info-bldg-name">{{bldg_name}}</h3>

{% for event in events %}
	<div class="info-event-entry" id="info-event-{{event.event_id}}" onmouseover="this.style.background='#ECECEC';" onmouseout="this.style.background='white';">
		<span style="font-weight:bold"> 
			<a href="http://{% value_from_settings CURRENT_HOST_PREFIX %}cal.tigerapps.org/events/{{event.event_id}}" target="_blank">
				{{event.event_cluster.cluster_title}}
			</a> 
		</span>
		
		<div class="info-event-subtitle">
			{{event.event_date_time_start|date:"M d, Y h:m a"}}<br/>
			{{event.event_location_details}} | {{event.getAttendeeCount}} attendee{{event.getAttendeeCount|pluralize}}<br/>
			
			<div class="info-event-description">
				{{event.event_cluster.cluster_description}}
			</div>
			
		</div>
	</div>
{% endfor %}
