<html>
<head>
    <title>HelloStephen</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/pom/js/jquery-ui-1.8.20.custom.min.js"></script>
	
	<script type="text/javascript" src="/static/pom/js/util.js"></script>
	<script type="text/javascript" src="/static/pom/js/timeline.js"></script>
	<script type="text/javascript" src="/static/pom/js/map.js"></script>
	<!--<script type="text/javascript" src="/static/pom/js/slider.js"></script>-->
	
	<link rel="stylesheet" type="text/css" href="/static/pom/css/jquery-ui-1.8.20.custom.css"/>
	<link rel="stylesheet" type="text/css" href="/static/pom/css/timeline.css"/>
	<link rel="stylesheet" type="text/css" href="/static/pom/css/map.css"/>
	
	<script type="text/javascript">
		$(document).ready(function() { utilInit(); mapInit(); });
	</script>
	
	<!--
		<link rel="stylesheet" type="text/css" href="/static/css/jqueryui-absolution/absolution.blue.css"/>
	-->
  
	{% include 'main/head.html' %}
</head>
  
<body>
{% include 'main/links.html' %}


<div id="jmap-info">
<div id="info-content">
	<div id="info-top">
        <img src="/static/pom/img/pom_logo.png" id="info-title"/>
	        
		<div id="info-top-types">
			<input type="radio" id="filter-events" name="filter-type" value="0" checked="checked"/><label for="filter-events">Events</label></input>
			<input type="radio" id="campus-info" name="filter-type" value="a"/><label for="campus-info">Campus Info</label></input>
			<input type="radio" id="filter-locations" name="filter-type" value="5"/><label for="filter-locations">Locations</label></input>
		</div>
		
		<div id="info-top-filters">
			<div id="top-tab-0" class="top-tab">
				<input id="events-search" type="text" style="width:160px;" name="events"/>&nbsp;
				<button id="events-search-submit">Search events</button><br/>

				<br/>
				<div id="events-slider"></div>
				<p style="display:none;">
					<label for="slider-left-value">Left Value:</label>
					<input type="text" id="slider-left-value" style="border:0; color:#f6931f; font-weight:bold;" /><br/>
					<label for="slider-right-value">Right Value:</label>
					<input type="text" id="slider-right-value" style="border:0; color:#f6931f; font-weight:bold;" />
				</p>

				<br/>
				<div id="jtl-input" style="float:left;">
					<input type="text" id="jtl-startDay" value="05/07/2012"/>
					<input type="text" id="jtl-nDays" value="2"/><br/>
					<input type="text" id="jtl-startTime" value="0:30"/>
					<input type="text" id="jtl-endTime" value="24:00"/><br/>
				</div>
				<!-- 
				X: <input id="box1" type="text" style="width:40px;"/>
				Y: <input id="box2" type="text" style="width:40px;"/><br/>
				X: <input id="box3" type="text" style="width:40px;"/>
				Y: <input id="box4" type="text" style="width:40px;"/><br/>
				X: <input id="box5" type="text" style="width:40px;"/>
				Y: <input id="box6" type="text" style="width:40px;"/><br/>
				dX: <input id="box7" type="text" style="width:40px;"/>
				dY: <input id="box8" type="text" style="width:40px;"/><br/>
				-->
				
			</div>
			<div id="top-tab-a" class="top-tab">
				<div id="campus-info-types">
					<input type="radio" id="filter-menus" name="filter-type" value="2"/><label for="filter-menus">Menus</label></input>
					<input type="radio" id="filter-laundry" name="filter-type" value="3"/><label for="filter-laundry">Laundry</label></input>
					<input type="radio" id="filter-printers" name="filter-type" value="4"/><label for="filter-printers">Printers</label></input>
				</div>
			</div>
			<div id="top-tab-5" class="top-tab">
			<form id="location-search-form">
				<input id="location-search" type="text" style="width:160px;" name="locations"/>&nbsp;
				<input id="location-search-submit" type="submit" value="Jump to Location" /><br/>
			</form>
						
			</div>
		</div>
		
	</div>
	<div id="info-divider"></div>
	<div id="info-bot"></div>
	
	<div id="info-jtl"></div>
	<div id="jtl-toggle"><span></span></div>
</div>
</div>


<div id="jmap-container">
	<div id="jmap-movable">
	</div>
</div>
	
</body>
</html>
