<html>
<head>
    <title>HelloStephen</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/pom/js/jquery-ui-1.8.20.custom.min.js"></script>
	<script type="text/javascript" src="/static/pom/js/timeline.js"></script>
	
	<script type="text/javascript" src="/static/pom/js/map.js"></script>
	<script type="text/javascript" src="/static/pom/js/display.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/static/pom/css/jquery-ui-1.8.20.custom.css"/>
	<link rel="stylesheet" type="text/css" href="/static/pom/css/timeline.css"/>
	<link rel="stylesheet" type="text/css" href="/static/pom/css/map.css"/>
	
	<script type="text/javascript">
		$(document).ready(function() { utilInit(); mapInit(); });
	</script>
	
	<!--
		<link rel="stylesheet" type="text/css" href="/static/css/jqueryui-absolution/absolution.blue.css"/>
	-->
  
	{% include 'main/head.html' %}
</head>
  
<body>
{% include 'main/links.html' %}


<div id="jmap-info">
<div id="info-content">
	<div id="info-top">
        <img src="/static/pom/img/pom_logo.png" id="info-title"/>
	        
		<div id="info-top-types">
			<input type="radio" id="filter-events" name="top-tab" value="0" checked="checked"/><label for="filter-events">Events</label></input>
			<input type="radio" id="campus-info" name="top-tab" value="a"/><label for="campus-info">Campus Info</label></input>
			<input type="radio" id="filter-locations" name="top-tab" value="5"/><label for="filter-locations">Locations</label></input>
		</div>
		
		<div id="info-top-filters">
			<div id="top-tab-0" class="top-tab">
				<form id="events-search-form">
					<input id="events-search" type="text" style="width:160px;" name="events"/>&nbsp;
					<input id="events-search-submit" type="submit" value="Search Events" />
				</form>

				<div id="jtl-input">
				<br>
					<table ><tr>
						<div id="jtl-hours-slider" style = "width:250px"></div>
					</tr><tr><td><label for="jtl-startTime" class="jtl-labels">Start time:</label>
						<input type="text" class="jtl-params" id="jtl-slider-start" readonly='true' style="border:0; width:73px;"/></td> 
						<td><label for="jtl-endTime" class="jtl-labels">End time:</label>
						<input type="text" class="jtl-params" id="jtl-slider-end" readonly='true' style="border:0; width:60px;"/></td> 
					</tr><tr><td><label class="jtl-labels"> Start date:</label>
						<input type="text" class="jtl-params" id="jtl-startDate" readonly='true' style="border:0; width:72px;"/></td>
					</tr><tr><td><label class="jtl-labels">Number of days:</label>
						<!-- <input type="text" class="jtl-params" id="jtl-nDays" value="3" style="border:0; color:#f6931f; font-weight:bold;width:20px;"/></td> -->
						<select class="jtl-params" id="jtl-nDays">
								<option value = 1> 1 </option>
								<option value = 2> 2 </option>
								<option value = 3> 3 </option>
								<option value = 4> 4 </option>
								<option value = 5> 5 </option>
								<option value = 6> 6 </option>
								<option value = 7> 7 </option>								
							</select></td>
					</tr></table>
					
					<input type="hidden" class="jtl-params" id="jtl-startTime" /> 
					<input type="hidden" class="jtl-params" id="jtl-endTime" />
				</div>
				
				<!-- 
				X: <input id="box1" type="text" style="width:40px;"/>
				Y: <input id="box2" type="text" style="width:40px;"/><br/>
				X: <input id="box3" type="text" style="width:40px;"/>
				Y: <input id="box4" type="text" style="width:40px;"/><br/>
				X: <input id="box5" type="text" style="width:40px;"/>
				Y: <input id="box6" type="text" style="width:40px;"/><br/>
				dX: <input id="box7" type="text" style="width:40px;"/>
				dY: <input id="box8" type="text" style="width:40px;"/><br/>
				-->
			</div>
			
			<div id="top-tab-a" class="top-tab">
				<div id="campus-info-types">
					<input type="radio" id="filter-menus" name="campus-info" value="2" checked="checked"/><label for="filter-menus">Menus</label>
					<input type="radio" id="filter-laundry" name="campus-info" value="3"/><label for="filter-lachundry">Laundry</label>
					<input type="radio" id="filter-printers" name="campus-info" value="4"/><label for="filter-printers">Printers</label>
				</div>
			</div>
			
			<div id="top-tab-5" class="top-tab">
				<form id="location-search-form">
					<input id="location-search" type="text" style="width:160px;" name="locations"/>&nbsp;
					<input id="location-search-submit" type="submit" value="Jump to Location" />
				</form>
			</div>
			
		</div>
	</div>
	
	<div id="info-divider"></div>
	<div id="info-bot"></div>
	
	<div id="info-jtl"></div>
	<div id="jtl-toggle"><span></span></div>
</div>
</div>


<div id="jmap-container">
	<div id="jmap-movable">
	</div>
</div>
	
</body>
</html>
