<h3 id="info-bldg-name">{{bldg_name}}</h3>
	
{% if info %}
	{% for bldg in info %}
		<div class="info-event-entry" style="text-align:center;">
		{% if bldg.image_url %}
			<img style="max-width:100%;max-height:400px;padding:4px 0;" src="{{bldg.image_url}}" alt="{{bldg.name}}"/>
		{% else %}
			<!--<img style="max-width:100%;max-height:400px;padding:4px 0;" src="/static/pom/img/location_noimg.png" alt="{{bldg.name}}"/>-->
            <div style="padding:4px 0;font-style:italic;">No image available</div>
		{% endif %}
		<div style="font-weight:bold;">{{bldg.name}}</div>
		</div>
    {% endfor %}
{% else %}
	<div class="info-event-entry" style="text-align:center;font-style:italic;">
		No information available
	</div>
{% endif %}
