<h3 id="info-bldg-name">{{bldg_name}}</h3>

{% if 'Breakfast' in menu.meals %}
	<div class="info-event-entry">
		<span style="font-weight:bold">Breakfast</span>
		{% for entree in menu.meals['Breakfast'] %}
		<div class="info-event-subtext">
			{{entree.name}}
		</div>
		{% endfor %}
	</div>
{% endif %}
	
{% if 'Lunch' in menu.meals %}
	<div class="info-event-entry">
		<span style="font-weight:bold">Lunch</span>
		{% for entree in menu.lunch.entrees %}
		<div class="info-event-subtext">
			{{entree.name}}
		</div>
		{% endfor %}
	</div>
{% endif %}

{% if 'Dinner' in menu.meals %}
	<div class="info-event-entry">
		<span style="font-weight:bold">Dinner</span>
		{% for entree in menu.dinner.entrees %}
		<div class="info-event-subtext">
			{{entree.name}}
		</div>
		{% endfor %}
	</div>
{% endif %}
