{% load hashing_filter %}

<h3 id="info-bldg-name">All Menus</h3>

{% for hall, menu in menu_list.items %}
{% with bldg_info|hash:hall as tup%}
<h2>{{ tup.0 }}</h2>
{%endwith%}

{% if 'Breakfast' in menu.meals %}
	<div class="info-event-entry">
		<span style="font-weight:bold">Breakfast</span>
		{% for entree in menu.meals.Breakfast.entrees %}
		<div class="info-event-subtext">
			{{entree.attributes.name}}
		</div>
		{% endfor %}
	</div>
{% endif %}
	
{% if 'Lunch' in menu.meals %}
	<div class="info-event-entry">
		<span style="font-weight:bold">Lunch</span>
		{% for entree in menu.meals.Lunch.entrees %}
		<div class="info-event-subtext">
			{{entree.attributes.name}}
		</div>
		{% endfor %}
	</div>
{% endif %}

{% if 'Dinner' in menu.meals %}
	<div class="info-event-entry">
		<span style="font-weight:bold">Dinner</span>
		{% for entree in menu.meals.Dinner.entrees %}
		<div class="info-event-subtext">
			{{entree.attributes.name}}
		</div>
		{% endfor %}
	</div>
{% endif %}
{% endfor %}
