{% load hashing_filter %}

<div style="font-weight:bold">Legend</div>
<span style="color:#0000FF;"> Vegan - no animal derivatives </span> <br>
<span style="color:#00AA00;"> Vegetarian - no meat products </span> <br>
<span style="color:#8000FF;"> Contains Pork </span> <br>
<span style="color:#990000;"> Contains Nuts </span> <br>

<h3 id="info-bldg-name">All Menus</h3>

{% for tup in menu_list %}

{% with bldg_info|hash:tup.0 as hallname%}
<h2>{{ hallname.0 }}</h2>
{%endwith%}

{%for meal in tup.1.meals%}
	<div class="info-event-entry">
		<span style="font-weight:bold">{{meal.0}}</span>
		{% for entree in meal.1.entrees%}
			<div class="info-event-subtext" style='color:{{entree.color}};'>
				{{entree.attributes.name}}
			</div>
		{% endfor%}
	</div>
{%endfor%}
{% endfor %}
