<div style="text-align:right;padding-right:8px;">
<span style="font-weight:bold"> Legend </span><br/>
<span style="color:#0000FF;"> Vegan - no animal derivatives </span> <br>
<span style="color:#00AA00;"> Vegetarian - no meat products </span> <br>
<span style="color:#8000FF;"> Contains Pork </span> <br>
<span style="color:#990000;"> Contains Nuts </span> <br>
</div>

<center>
<h3 id="info-bldg-name" style="font-size:18px;">{{bldg_name}}</h3>

{%for name,meal in menu.meals%}
	<div class="info-event-entry">
		<span style="font-weight:bold">{{name}}</span>
		{% for entree in meal.entrees%}
			<div class="info-event-subtext" style='color:{{entree.color}};'>
				{{entree.attributes.name}}
			</div>
		{% endfor%}
	</div>
{%endfor%}

</center>
