<html>
<head>
	<title>timeline test</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/pom/js/jquery-ui-1.8.20.custom.min.js"></script>
	
	<script type="text/javascript" src="/static/pom/js/timeline.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/static/pom/css/jquery-ui-1.8.20.custom.css"/>
	<link rel="stylesheet" type="text/css" href="/static/pom/css/map.css"/>
	<link rel="stylesheet" type="text/css" href="/static/pom/css/timeline.css"/>
	
	<script type="text/javascript">
		jevent = {}
	
		function pickdates() {
			$( "#datepicker" ).datepicker();
		}
	
		function sliderInit() {
		    oldLeft = -1;
		    oldRight = -1;
		    var sliderEle = $( "#events-slider" );
			
		    sliderEle.slider({
		        range: true,
		        min: 0,
		        max: 47,
		        values: [0, 47],
		        slide: function( event, ui ) {
		        	//sliderLeftTimeVal and sliderRightTimeVal will contain arrays where the zeroth 
		        	//element is the hour (0-23) and the first element is the minutes (0 or 30)
		            jevent.sliderLeftTimeVal = convertToTime(ui.values[0]);
		            $( "#slider-left-value" ).val(printTime(jevent.eventLeftDate));
		            
		            jevent.sliderRightTimeVal = convertToTime(ui.values[1]);
		            $( "#slider-right-value" ).val(printTime(jevent.eventRightDate));
		        },
		        
		        stop: function (event, ui) {
		        	if (oldLeft != ui.values[0] || oldRight != ui.values[1]) {
		        		//handleFilterChange();
		            	oldLeft = ui.values[0];
		            	oldRight = ui.values[1];
		            }
		        }
		    });
		    
		    
		    $( "#slider-left-value" ).val(printTime(convertToTime(sliderEle.slider( "values", 0 ))));
		    $( "#slider-right-value" ).val(printTime(convertToTime(sliderEle.slider( "values", 1 ))));
		}
		
		function convertToTime(sliderVal) {
			var timeval = new Array();
			timeval[0] = sliderVal/2
			timeval[1] = (sliderVal%2)*30
		    return (timeval);
		}
		function printTime(timeObj) {
		    var hours = timeObj[0] + 1;
		    var am = true;
		    if (hours > 12) {
		       am = false;
		       hours -= 12;
		    } else if (hours == 12) {
		       am = false;
		    } else if (hours == 0) {
		       hours = 12;
		    }
		    return hours + ":" + timeObj[1] + ' ' + (am ? "AM" : "PM");
		}
		
		
		$(document).ready(function() {
			pickdates();
			sliderInit();
		});
	</script>	
</head>
<body>

<div id="jtl-input" style="float:left;">
	<div class="demo">
		<p>Date: <input type="text" id="datepicker"></p>
	</div>
	
	<div id="events-slider"></div>
	<p>
		<label for="slider-left-value">Left Value:</label>
		<input type="text" id="slider-left-value" style="border:0; color:#f6931f; font-weight:bold;" /><br/>
		<label for="slider-right-value">Right Value:</label>
		<input type="text" id="slider-right-value" style="border:0; color:#f6931f; font-weight:bold;" />
	</p>

	<input type="text" id="jtl-startDay" value="05/07/2012"/><br/>
	<input type="text" id="jtl-nDays" value="2"/><br/>
	<input type="text" id="jtl-startTime" value="14:30"/><br/>
	<input type="text" id="jtl-endTime" value="24:00"/><br/>
</div>

<div id="jtl" style="height:100%;margin:auto;">

</div>

</body>
</html>