<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	
	<script type="text/javascript" src="/static/pom/js/util.js"></script>
	<script type="text/javascript" src="/static/pom/js/map.js"></script>
	<!--<script type="text/javascript" src="/static/pom/js/slider.js"></script>-->
	
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/themes/overcast/jquery-ui.css"/>
	<link rel="stylesheet" type="text/css" href="/static/pom/css/map.css"/>
	
	<script type="text/javascript">
		$(document).ready(function() { utilInit(); mapInit(); });
	</script>	
</head>
<body>

<div id="timeline">



</div>

</body>
</html>