<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Rodrigo Menezes">
	<meta name="keywords" content="Princeton,TigerApps,Tiger,Apps,MyPrinceton">
	<link rel="icon" 
	      type="image/ico" 
	      href="/static/images/favicon.ico">
	<title>MyPrinceton</title>

	<!-- Add ALLLLL THE JAVASCRIPT!
	http://s3.amazonaws.com/kym-assets/photos/images/original/000/140/938/responsibility12%28alternate%29.png?1309207929-->
	<script src="https://www.google.com/jsapi?key=ABQIAAAAdM_LVdzsW817YZhfP6Ms8xR6AUB8qP4LzdJteVVizcDpTMPGVxTeDcFdeP-MfQzuVcAXw5uIOc4ybQ" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/my/js/jquery.json-2.2.min.js" ></script>

	<!-- Adding CSS -->
	<link rel="stylesheet" type="text/css" href="/static/my/css/styles4.css" />
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />

	<!-- Adding javascript--> 
	<script type="text/javascript" >
	$(document).ready(function(){
		////// Dragbox icon showing and coloring ////////
		$('.dragbox').each(function(){
			// Makes h2 orange upon hover
			$(this).hover(function(){
				$(this).find('h2').addClass('collapse');
			}, function(){
				$(this).find('h2').removeClass('collapse');
			})
			
			// Adds icons upon hover
			.find('h2').hover(function(){
				$(this).find('.configure').css('visibility', 'visible');
			}, function(){
				$(this).find('.configure').css('visibility', 'hidden');
			})
			
			// Hides content and changes arrow. Updates widget data.
			.click(function(e){
				if ($(e.target).is('.dragbox h2 img.is_collapsed'))
				{
					$content = $(this).siblings('.dragbox-content');
					$image = $(this).children().find("img.is_collapsed");
					if ($content.css('display')=="none" || $image.attr("src") == "/static/my/images/right.png")
					{
						$content.show();
						$image.attr("src", "/static/my/images/down.png");
					}
					else
					{
						$content.hide();
						$image.attr("src", "/static/my/images/right.png");
					}
					updateWidgetData();
				}
			})
			
			// Upon end, makes sure configure is hidden
			.end().find('.configure').css('visibility', 'hidden');
		});
		
		//////// MyApp sorting ////////
		$('.moveable').sortable({
			connectWith: '.moveable',
			handle: 'h2',
			cursor: 'move',
			placeholder: 'placeholder',
			forcePlaceholderSize: true,
			opacity: 0.4,
			start: function(event, ui){ 
				$('.dragbox-content').each(function(i) {
					//var current = "<!--" + $(this).html() + "-->";
					var current = $(this).html();
					var overHeight = $(this).css("height");
					var mask = "<div class=\"mask\" style=\"width: 100%; height: " + overHeight + "; background-color=transparent; position:absolute; top:0; left:0;\"></div>";
					//$(this).append("<div class=\"mask\" width=\""+ width + "\" height: \"" + height + "\" style=\"background-color=transparent;\"></div>");
					$(this).append(mask);
				});
				/*$('body').css('background', 'green');*/
				//add a mask over the Iframe to prevent IE from stealing mouse events
				 
				//Firefox, Safari/Chrome fire click event after drag is complete, fix for that.
				/*if($.browser.mozilla || $.browser.safari)  
				{
					$content = $(ui.item).find('.dragbox-content');
					$image = $(ui.item).find("img.is_collapsed");
					if ($content.css('display')=="none" || $image.attr("src") == "/static/my/images/right.png")
					{
						$content.show();
						$image.attr("src", "/static/my/images/down.png");
					}
					else
					{
						$content.hide();
						$image.attr("src", "/static/my/images/right.png");
					}
				}*/
			},
			stop: function(event, ui){  
				$('.mask').each(function(i) {
					//alert($(this).html())
					$(this).remove()
				});
				//$(ui.item).find('h2').click();
				ui.item.css({'top':'0','left':'0'}); //Opera fix
				updateWidgetData(); 
				
				// Make sure collapse and configure are gone (Firefox fix)
				//$(ui.item).find('h2').removeClass('collapse');
				//$(ui.item).find('.configure').css('visibility', 'hidden');
				
				// Change iFrame
				// Ugly code is better than code that doesn't work.
				var iframe = ui.item.find('iframe');
				var source = iframe.attr('src');
				var tail_start = source.indexOf('.org') + 6;
				var tail = source.substring(tail_start);
				var add = tail.indexOf("/");
				var root = source.substring(0, tail_start + add);
				var newColumn = ui.item.parents('.column').attr('id');
				root = root + "/" + newColumn;
				if (source.search("/settings") != -1)
					root = root + "/settings";
				iframe.attr('src', root);
				
				// Swap height with other if necessary
				if ((source.search("/M") != -1) != (newColumn == 'M'))
				{
					var height = ui.item.find('.dragbox-content').css('height');
					var newHeight = ui.item.find('.other').html();
					ui.item.find('.dragbox-content').css('height', newHeight);
					ui.item.find('.other').html(height);
					//alert("Swap " + height + " for " + newHeight + "!");
				}
			}
		})
		.disableSelection();
		
		//////// modal  /////////
		$('.add').click(function(){
			var url = '/addMyApp/{{ orderNo }}/' + $(this).parents('.column').attr('id');
			var jmodal = $('#jqui-add-myapp').html('<iframe id="ifrm" height="575" width="590" scrolling="no" style="margin: 0; padding: 0;" frameborder="0"></iframe>');
			jmodal.dialog({
						height: 632,
						width: 595,
						modal: true,
					});
			$("#jqui-add-myapp>#ifrm").attr("src", url);
		});
		
		$('#page_plus').click(function(){
			var submitPressed = false;
			var jmodal = $('#jqui-add-page').html('<iframe id="ifrm" height="175" width="275" scrolling="no" style="margin: 0; padding: 0;" frameborder="0"></iframe>');
			jmodal.dialog({
						height: 218,
						width: 280,
						modal: true,
						close: function(event, ui) {
							if (submitPressed == true)
							{
								var jmodal = $('#jqui-add-myapp').html('<iframe id="ifrm" height="575" width="590" scrolling="no" style="margin: 0; padding: 0;" frameborder="0"></iframe>');
								jmodal.dialog({
											height: 632,
											width: 595,
											modal: true,
										});
								$("#jqui-add-myapp>#ifrm").attr("src", '/addMyApp');
							}
						}
					});
			$("#jqui-add-page>#ifrm").attr("src", "/addPage");
		});
		
		//////// Icon actions /////////
		$('img.trash').click(function(){
			var answer = confirm("Are you sure you want to remove this MyApp?")
			if (answer)
			{
				var box = $(this).parents('.dragbox');
				box.remove();
				updateWidgetData();
			}
		});
		$('img.refresh').click(function(){
			var content = $(this).parents('.dragbox').find('.dragbox-content');
			var source = $(this).parents('.dragbox').find('iframe').attr('src');
			var scrolling = $(this).parents('.dragbox').find('iframe').attr('scrolling');
			content.html('<iframe src="' + source + '" class="myapp" style="width:100%;height:100%;background-color:transparent;" scrolling="' + scrolling + '" frameborder="0" allowtransparency="true" width="100%" height="100%"></iframe>');
		});
		$('img.settings').click(function(){
			var content = $(this).parents('.dragbox').find('.dragbox-content');
			var scrolling = $(this).parents('.dragbox').find('iframe').attr('scrolling');
			var source = $(this).parents('.dragbox').find('iframe').attr('src');
			if (endsWith(source, '/settings'))
			{
				source = chop(source, '/settings');
				content.html('<iframe src="' + source + '" class="myapp" style="width:100%;height:100%;background-color:transparent;" scrolling="' + scrolling + '" frameborder="0" allowtransparency="true" width="100%" height="100%"></iframe>');
			}
			else
				content.html('<iframe src="' + source + '/settings" class="myapp" style="width:100%;height:100%;background-color:transparent;" scrolling="' + scrolling + '" frameborder="0" allowtransparency="true" width="100%" height="100%"></iframe>');
		});
		
		/////// PAGE CHANGING ////////
		
		// Globals
		if ($('.page_remove').length > 0)
			var remove = true;
		else
			var remove = false;
		var tabName = $('#tabName').html();
		
		$(window).keypress(function(e) {
		    if ((e.keyCode == 13) && $('#clickEdit').length > 0) {
		        changePageName(tabName, remove);
		    }
		});
		
		$('html').click(function() {
			if ($('#clickEdit').length > 0)
			{
				changePageName(tabName, remove);
			}
		});
		
		$('#page_it').click(function(event){
			var $target = $(event.target);
			if( !$target.is(".page_remove") ) 
			{
				event.stopPropagation();
				if ($('#clickEdit').length < 1)
				{
					tabName = $('#tabName').html();
					$(this).html('<input type="textbox" id="clickEdit" style="width: 80%; font-size: 14px; margin: 0; padding: 0;" value="' + tabName + '"/>');
					$('#clickEdit').focus();
				}
			}
			else
			{
				var answer = confirm("Remove this page?");
				if (answer)
				{
					$.post('/removePage', 'orderNo={{ orderNo }}', function(response)
					{
						if (response=="success") 
							window.top.location.href = "/";
					});
				}
			}
		});
		
		/////// PAGE REMOVAL//////
		$('#page_it').hover(function(){
			$('img.page_remove').css('visibility', '');
		}, function(){
			$('img.page_remove').css('visibility', 'hidden');
		});
	});
	
	function changePageName(tabName, remove)
	{
		var inputValue = $('#clickEdit').attr('value');
		// Add img if necessary
		if (remove)
			var tab = '<img style="visibility: hidden;" class="page_remove" src="/static/my/images/SmallX.gif"/><span id="tabName">';
		else
			var tab = '<span id="tabName">';
			
		// Will not accept crap
		if (inputValue.length > 1 && inputValue.length < 21)
		{
			tab += inputValue;
			$.post("/changePageName/{{ orderNo }}", "name=" + inputValue, function(response)
			{
				if(response=="success")  
					$("#console").html('<div class="success" style="color: #F96B02;">Saved</div>').hide().fadeIn(1000);  
				setTimeout(function(){ $('#console').fadeOut(1000); }, 2000);
			});
		}
		else
		{
			tab += tabName;
			$("#console").html('<div class="success" style="color: red;">Length must be between 1 and 20 characters</div>').hide().fadeIn(1000);  
			setTimeout(function(){ $('#console').fadeOut(1000); }, 2000);
		}
		$('#page_it').html(tab + "</span>");
	}

	function updateWidgetData(){  
		var items=[]; 
		$('.column').each(function(){  
			var columnId=$(this).attr('id');  
			$('.dragbox', this).each(function(i){  
				var collapsed=false;  
				if($(this).find('.dragbox-content').css('display')=="none")  
					collapsed=true;  
				//Create Item object for current panel  
				var item={  
					id: $(this).attr('id'),  
					collapsed: collapsed,  
					order : i,  
					column: columnId  
				};  
				//Push item object into items array  
				items.push(item);  
			});  
		}); 
		//Assign items array to sortorder JSON variable  
		var sortorder={ items: items };  

		//Pass sortorder variable to server using ajax to save state  
		$.post('/saveMyApps/{{ orderNo }}', 'data='+$.toJSON(sortorder), function(response)
		{  
			if(response=="success")  
				$("#console").html('<div class="success" style="color: #F96B02;">Saved</div>').hide().fadeIn(1000);  
			setTimeout(function(){  
				$('#console').fadeOut(1000);  
			}, 2000);  
		});	
	}
	
	function endsWith(str, suffix) {
	    return str.indexOf(suffix, str.length - suffix.length) !== -1;
	}
	
	function chop(str, suffix) {
		return str.substring(0, str.length - suffix.length);
	}
	
	function returnRefresh() {
		window.top.location.href = window.top.location.href;
	}
	
	function hideProgress(id){
	        document.getElementById(id).style.display = 'none';
	}
	
</script>
</head>

<body>
	{% include "main/jquery.html" %}
	
	<div id="jqui-add-myapp" title="Add a MyApp" style="padding: 0; margin: 0;">
	</div>
	<div id="jqui-add-page" title="Add a Page" style="padding: 0; margin: 0;">
	</div>
	
	<div id="wrapper">
		<div class="top">
			<div id="header">
				<div class="logo"><a href=""><img src="/static/my/images/myPrinceton.png
					" alt=""/></a></div>
				<div id="logout">
					<a href="/logout">Logout</a>
				</div>
				<div id="console" style="position: absolute; top: 30px; right: 30px;"></div>
			</div> <!-- header-->
		</div><!-- top -->
		
		<div id="pages">
			{% autoescape off %}{{ pageBar }}{% endautoescape %}
		</div>
		
		<!-- Adds widgets -->
		<div id="panel">
			{% for column in colList %}
			<div class="column" id="{{ column.location }}">
				<div class="moveable">
					{% for relation in column.relations %}
					<div class="dragbox" id="{{ relation.relationID }}" >
						<h2>
							<div class="arrow"><img class="is_collapsed" src="{% if relation.collapsed %}/static/my/images/right.png{% else %}/static/my/images/down.png{% endif %}" width="20" height="30" /></div>
							<div class="title">{% if relation.myapp.link %} <a href="{{relation.myapp.link}}" style="color:white;"> {% endif %}{{ relation.myapp.name }}{% if relation.myapp.link %} </a> {% endif %} </div>
							<span class="configure" ><img class="refresh" src="/static/my/images/refresh.png" alt="Refresh" /><img class="trash" src="/static/my/images/trash.png" alt="Remove" />{% if relation.myapp.settings %}<img class="settings" src="/static/my/images/settings.png" alt="Settings" />{% endif %}</span>
						</h2>
						<div class="dragbox-content" style="display:{% if relation.collapsed %}none{% else %}block{% endif %}; height:{% ifequal column.location 'M' %}{{ relation.myapp.mHeight }}{% else %}{{ relation.myapp.sHeight }}{% endifequal %}px; padding: 0 0 2px;">
							
							<div id="loader_{{ relation.relationID }}" style="position: absolute;display:block;width:100%;top: 10px; margin: 0 auto;"><img id="loading" src="/static/my/images/loading_transparent.gif" style="display: block; margin: 100px auto;" />.</div>
							
							<iframe src="http://my.tigerapps.org/{{ relation.relationID }}/{{ column.location }}" class="myapp" style="background-color:transparent; padding:0; margin: -2px 0 0 0;" scrolling="{% if relation.myapp.scrolling %}auto{% else %}no{% endif %}" frameborder="0" allowtransparency="true" width="100%" height="100%" onload="hideProgress('loader_{{ relation.relationID }}')"></iframe>
							<div class="other" style="display: none;">{% ifequal column.location 'M' %}{{ relation.myapp.sHeight }}{% else %}{{ relation.myapp.mHeight }}{% endifequal %}px</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="add"><small>+ click to add an app</small></div>
			</div>
			{% endfor %}
		</div>
	</div><!--wrapper-->
	
	<div class="footer">
		<small>&copy;USG 2011 | Made by <a href="mailto:rmenezes@princeton.edu" style="color:white;">Rodrigo Menezes</a> <br/> Design by Rodrigo Menezes and Ed Kelley</small>
	</div>
</body>
</html>
