<!-- Adding CSS -->
<link rel="stylesheet" type="text/css" href="/static/toolbar/css/mootools_bar.css" media="screen">
<!-- Load the MenuMatic Class -->
<script src="/static/toolbar/js/MenuMatic_0.68.3.js" type="text/javascript" charset="utf-8"></script>
<!--[if lt IE 7]>
	<link rel="stylesheet" href="css/MenuMatic-ie6.css" type="text/css" media="screen" charset="utf-8" />
<![endif]-->
<!-- Create a MenuMatic Instance -->
<script type="text/javascript" >
window.addEvent('domready', function() {			
	var myMenu = new MenuMatic({ hideDelay:400 });
});		
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20742516-1']);
  _gaq.push(['_setDomainName', 'tigerapps.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% include "main/links.html" %}
