<table>
	<tr>
	<th style="width: 250px; text-decoration: underline;">Name</th>
	<th style="width: 100px; text-decoration: underline;">Club</th>
	<th style="width: 100px; text-decoration: underline;">Date</th>
	</tr>
	{% for event in event_list %}
	<tr>
	<td><a class="event-link" value="{{ event.event_id }}" >{% if event.title %}{{ event.title }}{% else %}{{ event.club.name }} {{ event.time_start|date:"l" }}{% endif %}</a></td>
	<td><a class="club-link" value="{{ event.club.name }}" >{{ event.club.name }}</a></td>
	<td><a class="date-link" href="/{{ event.time_start|date:"n"}}/{{ event.time_start|date:"d"}}/{{ event.time_start|date:"Y"}}/">{{ event.time_start|date:"N jS" }}</a></td>
	</tr>
	{% empty %}
	<tr>
	<td>No results</td>
	<td></td>
	<td></td>
	</tr>
	{% endfor %}
</table>
