<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>CCC Website</title>

	<!-- Adding CSS -->
	<link rel="stylesheet" type="text/css" href="/media/ccc/css/styles4.css" />
	<!-- Load the Mootools Framework -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
</head>

<body>
	{% include "main/jquery.html" %}
	
	<div class="polaroid-bg" id="polaroid-1"><img src="/media/ccc/images/polaroid1-web.png" /></div>
	<div class="polaroid-bg" id="polaroid-2"><img src="/media/ccc/images/polaroid2-web.png" /></div>
	<div class="polaroid-bg" id="polaroid-3"><img src="/media/ccc/images/polaroid3-web.png" /></div>
	<div class="polaroid-bg" id="polaroid-4"><img src="/media/ccc/images/polaroid4-web.png" /></div>
	<div class="polaroid-bg" id="polaroid-5"><img src="/media/ccc/images/polaroid5-web.png" /></div>
	<div class="wrapper">
		<div id="usg-logo"><a href="http://usg.princeton.edu"><img width="100" src="/media/ccc/images/usg-logo-web.png" /></a></div>
		<div id="menu">
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact us</a></li>
				<li><a href="/log">Log hours</a></li>
				<li><a href="/opportunities">Find an Opportunity</a></li>
				<li><a href="/thankyou">"Thank You"s</a></li>
			</ul>
		</div>
		<div id="ccc-logo">
			<a href="/"><img src="/media/ccc/images/ccc-logo-web.png" width="100" /></a>
		</div>
		<div id="title-1">
			<h1><a href="/">Campuswide</a></h1>
		</div>
		<div id="title-2">
			<h1><a href="/">Community Challenge</a></h1>
		</div>
		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
	</div>
	<div style="display: block; height: 20px; width: 100%;"></div>
	<div id="credits"><small style="display: block; height: 12px; width: 240px; margin: 0 auto 5px;">&copy;USG 2011 | Made by <a href="mailto:rmenezes[-AT-]princeton.edu">Rodrigo Menezes</a></small><small style="display: block; height: 12px; width: 140px; margin: 0 auto 5px;"> Design by Erin Byrne and Rodrigo Menezes</small><small style="display: block; height: 12px; width: 290px; margin: 0 auto;">Questions? Email the CCC at ccc@princeton.edu</small></div>
</body>
</html>