{% extends "ccc/base.html" %}

{% block content %}
	<div id="row-1">
		<div class="row-left">
			<h2> What it is </h2>
			The Campuswide Community Challenge is a collective effort to try and reach 10,000 hours of community service. Besides a good conscience, teams or individuals can win prizes for being a good samaritan.
		</div>
		<div class="row-right">
			<br/><br/>
			<p style="color: red; text-align: center;">Image here.</p>
		</div>
	</div>
	<div class="clear"></div>
	<div id="row-2">
		<div class="row-left">
			<br/><br/>
			<p style="color: red; text-align: center;">Image here.</p>
		</div>
		<div class="row-right">
			<h2> How it works </h2>
			Sign up as a team or as an individual and log your hours. Awards will be given to teams with most hours per individual, individuals with the most hours and to the coolest single volunteer project.
		</div>
	</div>
	<div class="clear"></div>
	<div id="row-3">
		<div class="row-left">
			<h2> Prizes </h2>
			Prizes include one million dollars, a better room draw and a candlelight dinner with USG VP Catherine Etteman! Also, everyone gets a pretty snazzy free t-shirt.
		</div>
		<div class="row-right">
			<br/><br/>
			<p style="color: red; text-align: center;">Image here.</p>
		</div>
	</div>
	<div class="clear"></div>
	<div id="row-4">
		<a href="/register" id="button">Awesome! Sign me up!</a>
	</div>
	<div class="clear"></div>
{% endblock %}