{% extends "ccc/base.html" %}

{% block content %}

<div id="first-row">
	<div class="float-left">
		<div class="content-box">
			<h2 id="what-it-is" class="box-header">What it is</h2>
			<p>The Campus Community Challenge (3C) is a USG-sponsored civic-engagement initiative dedicated to promoting Princeton’s culture of service. Civic engagement is a way of life here on campus – find a way to get involved!</p>
		</div>
		<div class="content-box">
			<h2 id="how-it-works" class="box-header">How it works</h2>
			<p>You can <a href="/log">log your own service hours</a>! Being signed up for 3C carries no responsibilities or obligations – it just gives you the opportunity to keep track of your own service activities and to express the importance of service in your life by sporting 3C <a href="/thankyous">thank-yous</a> like t-shirts and wristbands. Civic engagement is part of what it means to be at Princeton – wear it proudly!</p>
		</div>
	</div>
	<div class="float-right">
		<img src="/media/ccc/images/tapedpolaroid1-web.png" />
	</div>
</div>
<div id="second-row">
	<div class="float-left">
		<img src="/media/ccc/images/tapedpolaroid2-web.png" />
	</div>
	<div class="float-right">
		<div class="content-box">
			<h2 id="how-to-get-involved" class="box-header" style="padding-left: 70px;">How to get involved</h2>
			<p>Every student can burst that Orange Bubble and incorporate community service into the activities they love – whether that’s tutoring, helping at a food bank, volunteering at a hospital, or none of the above. If you’re in a dance, a cappella, or theater group, put on a show at a local nursing home. If you write for a publication, write a letter to a soldier overseas. If you love to knit, make scarves for the homeless.</p>
			<div class="button-row" style="width: 100%; display: block; height: 50px; padding-top: 20px;">
				<a href="/opportunities" class="button">Awesome! Where can I start?</a>
			</div>
			<br/>
			<iframe style="border: none; overflow: hidden; width: 400px; height: 35px;" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FPrinceton3C%3Fsk%3Dwall%26filter%3D1&amp;send=false&amp;layout=standard&amp;width=400&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=trebuchet+ms&amp;height=35" frameborder="0" scrolling="no" width="320" height="240"></iframe>
		</div>	
	</div>
</div>
	
	
{% endblock %}