{% extends "ccc/base.html" %}
{% load value_from_settings %}

{% block head %}
	<script type="text/javascript" src="/static/cal/js/datetimepicker_css.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			date = $("input[name*='date']");
			date.after("<a href=\"javascript:NewCssCal('" + date.attr('id') + "', 'MMddyyyy', 'arrow')\"><img src=\"/static/cal/css/img/cal.gif\"></a>");
		});
	</script>
{% endblock %}

{% block content %}
	<div class="main-box" style="width: 90%;">
	    <h2 id="postTitle" style="text-align: center;">Log Hours</h2>
		<p>Currently, you have logged {{user_hours}} hour{% ifnotequal user_hours 1 %}s{% endifnotequal %}.</p>
		<p>Please keep in mind these <a href="/logging_guidelines/">guidelines when logging a project.</a></p>
		
		<form name="pace_form" method="post">
		<table>
			<tr id="row_netid">
				<th id="th_netid" class="tableLabel">Netid:</th>
				<td>{{ user_netid }}</td>
			</tr>
		{% for field in log_cluster_form %}
			<tr id="row_{{field.auto_id}}">
				<th id="th_{{field.auto_id}}" class="tableLabel">{{field.label_tag}}{% if field.field.required %}*{% endif %}:</th>
				<td>{{ field }}</td>
				{% if field.errors %}
           		{% for error in field.errors %}
               	<td style="color: red;">&bull; {{ error }}</td>
               	{% endfor %}
				{% endif %}
			</tr>
		{% endfor %}
		<tr><td></td><td style='text-align:right;'>
			<input type="submit" href="/log_pace" class="button" style="margin-left: 95px; margin-top: 15px;" />
		</td></tr>
		
		</table>
		<p style="text-align: left;">Can't find your project? <a href="/request">Request that your project be recognized.</a></p>
		</form>
	</div>
{% endblock %}
