{% extends "cal/emailbase.html" %}
{% load humanize %}
{% block content %}

<div style="">
<table cellspacing="0" cellpadding="8" border="0" summary="" style="width:100%;font-family:Arial,Sans-serif;border:1px Solid #ccc;border-width:1px 2px 2px 1px;background-color:#fff;">

<h2 style="padding:0 0 6px 0;margin:0;font-family:Arial,Sans-serif;font-size:22px;font-weight:bold;color:#0066FF">Your Campus Events Today</h2>

{% for rsvp in rsvps %}
{% with rsvp.rsvp_event as event %}
<tr>
<td>
<div style="padding:2px">
<div style="float:right;font-weight:bold;font-size:13px"> <a href="{{ site }}{{ event.getAbsoluteURL }}" style="color:#20c;white-space:nowrap">details & who's coming &raquo;</a><br>
</div>
<h3 style="padding:0 0 6px 0;margin:0;font-family:Arial,Sans-serif;font-size:16px;font-weight:bold;color:#0066FF">Today: {{event}}</h3>
<table cellpadding="0" cellspacing="0" border="0" summary="Event details">
  <tr>
    <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top"><div><i style="font-style:normal">When</i></div></td>
    <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">{{event.getFormattedStartDate}} at {{event.getTime}} <span style="color:#888">Eastern Time</span></td>
  </tr>
  <tr>
    <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top"><div><i style="font-style:normal">Where</i></div></td>
    <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">{% if event.get_event_location_display or event.event_location_details %}{{event.get_event_location_display}}{% if event.event_location_details %} {{event.event_location_details}}{% endif %}<span dir="ltr">{% else %}No location given {% endif %}</span></td>
  </tr>
  <tr>
    <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top"><div><i style="font-style:normal">Description</i></div></td>
    <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">{{event.event_cluster.cluster_description|linebreaksbr}}{% if event.event_subdescription %}<br />{{event.event_subdescription|linebreaksbr}}{% endif %}</td>
  </tr>
</table>
</div>
</td>
</tr>
{% endwith %}
{% endfor %}

<tr>
  <td style="background-color:#f6f6f6;color:#888;border-top:1px Solid #ccc;font-family:Arial,Sans-serif;font-size:11px">
  <a href="{{ site }}"><img style="float: right; border: none;" src="[IMG_EMBED]static/cal/email/pec_email_logo.png[/IMG_EMBED]" /></a>
  <p>Daily confirmed event reminder from <a href="{{ site }}" style="">Princeton Events Calendar</a></p>
    <p>You are receiving this email to {{ user.user_email }} because you chose to receive email reminders the morning before events to which you confirmed attendance.  You can change that by modifying your personal settings in the <a href="{{ site }}user">personal profile</a> section of the website and logging in with the NetID '{{user}}.'</p>
  </td>
</tr>
</table>
</div>
{% endblock %}
