<div style="width: 100%; clear: both; text-align: center; padding-top: 20px;">
	<span style="color:#999; font-size:9px">A service of the <a href="http://usg.princeton.edu" style="color:#999; text-decoration: none;">Undergraduate Student Government</a>.</span><br />
	<span style="color:#999; font-size:8px"><a href="mailto:usg@princeton.edu" style="color:#999; text-decoration: none;">Let us know what you think</a>.</span><br />
	<a href="http://usg.princeton.edu"><img style="border: none;" src="[IMG_EMBED]static/cal/email/pec_usg_logo.png[/IMG_EMBED]" alt="USG Logo"/></a><br />
	<span style="color: #fff; font-size:6px;">Site developed by Ethan Goldstein, Samantha Hantman, Dana Hoffman, Adriana Susnea, and Michael Yaroshefsky </span>
</div>
