{% extends "cal/emailbase.html" %}
{% load humanize %}
{% block content %}

<div style="">
<table cellspacing="0" cellpadding="8" border="0" summary="" style="width:100%;font-family:Arial,Sans-serif;border:1px Solid #ccc;border-width:1px 2px 2px 1px;background-color:#fff;">
<tr>
<td>
<div style="padding:2px">
<div style="float:right;font-weight:bold;font-size:13px"> <a href="{{ eventurl }}" style="color:#20c;white-space:nowrap">event details &raquo;</a><br>
</div>
<h3 style="padding:0 0 6px 0;margin:0;font-family:Arial,Sans-serif;font-size:16px;font-weight:bold;color:#222">Message from {{ sender.full_name }} <span style="font-size:12px;color:#888">({{ sender.user_netid }}@princeton.edu)</span></h3>
<table cellpadding="0" cellspacing="0" border="0" summary="Event details">
  <tr>
    <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top"><div><i style="font-style:normal">Regarding</i></div></td>
    <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">{{ event }} </td>
  </tr>
  <tr>
    <td style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap" valign="top"><div><i style="font-style:normal">Message</i></div></td>
    <td style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top">{{msg|linebreaksbr}}</span></td>
  </tr>
 
</table>
</td>
</tr>
<tr>
  <td style="background-color:#f6f6f6;color:#888;border-top:1px Solid #ccc;font-family:Arial,Sans-serif;font-size:11px">
  <a href="{{ site }}"><img style="float: right; border: none;" src="[IMG_EMBED]media/cal/email/pec_email_logo.png[/IMG_EMBED]" /></a>
  <p>Notification from <a href="{{ site }}" style="">Princeton Events Calendar</a></p>
  <p>You are receiving this email to {{ user.user_email }} because you are a registered attendee for this event and {{ sender.full_name }} sent this message to all event attendees.  You can change your attendance status by visiting <a href="{{ eventurl }}">the event page</a> and logging in with your NetID, {{ user.user_netid }}.</p>
    <p>To change your other notification settings, please log in to <a href="{{ site }}user">the profile page</a> to manage your profile.</p></td>
</tr>
</table>
</div>
{% endblock %}
{% block tip %}Lead an organization on campus? The Princeton Events Calendar is the most powerful and flexible way to share and coordinate your public events. Send emails to all attendees effortlessly, get accurate counts of who is coming, and even download a spreadsheet listing all attendees.{% endblock %}
