{% extends "cal/base.html" %}
{% load app_extras %}

{% block title %}{{tabtitle}}{% endblock %}

{% block headerscript %}
<script type="text/javascript">
$(document).ready(function() {
  
  $('.rsvp_indicator').cluetip({
showTitle: true, // hide the clueTip's heading
splitTitle: '|',
width: 540,
clickThrough: true,
cluetipClass: 'jtip', 
arrows: false, 
dropShadow: true,
hoverIntent: false,
sticky: false,
mouseOutClose: true,

  });
});
</script>
{% endblock %}

{% block content %}
{% block top %}{% endblock %}
<h1 id="title">{{tabtitle}}</h1>
<p class="subtitle">{{subtitle}}</p>

{% if events %}
<ul class="events">
{% for event in events %}
{% ifchanged %}<li class="date">{% if flag_dateadded %}{% if flag_dateviewed %}Viewed {{views|dict_get:event|time_difference}} ago{% else %}Added {{event.event_date_time_created|time_difference}} ago{% endif %}{% else %}{{event.getFormattedStartDate}}{% endif %}</li>{% endifchanged %}
<li><ul>
<li class="event-title{% if flag_dateadded %}-alt{% endif %}{% if event.event_cancelled %} strikethrough{% endif %}">{% for feat in event.event_cluster.cluster_features.all %}<a href="/features/{{feat.feature_name}}"><img src="/media/cal/{{feat.feature_icon}}" title="{{feat.feature_name}}" alt="{{feat.feature_name}}" style="float: right; height: 20px; width: 20px;"/></a>{% endfor %}<a {% ifequal user_data event.event_cluster.cluster_user_created %}class="event_owner" {% endifequal %}href="/events/{{event.event_id}}">{{event}}</a></li>
<li class="event-time{% if flag_dateadded %}-alt{% endif %}">{% if flag_dateadded %}<span class="event-date-abovetime">{{event.getFormattedShortStartDate}}</span>{% endif %}<span{% if rsvp %} style="border-bottom: 2px dotted {% ifequal rsvp.rsvp_type 'Accepted' %}green;{% endifequal %}{% ifequal rsvp.rsvp_type 'Declined' %}red;{% endifequal %}{% ifequal rsvp.rsvp_type 'Pending' %}orange;{% endifequal %}"{% endif %}><a {% if rsvp %}class="rsvp_indicator" title="<span style='letter-spacing: 0.05em;'>{{event}}</span>|{% ifequal rsvp.rsvp_type 'Accepted' %}You've previously added this event to your calendar.{% endifequal %}{% ifequal rsvp.rsvp_type 'Declined' %}You've declined {{rsvp.rsvp_referrer.full_name}}'s invitation to this event.{% endifequal %}{% ifequal rsvp.rsvp_type 'Pending' %}{{rsvp.rsvp_referrer.full_name}} has invited you to this event.{% endifequal %}"{% endif %}style="text-decoration: none;" href="/events/{{event.event_id}}">{{event.getTime}}</a></span></li>
<li class="event-subtext{% if flag_dateadded %}-alt{% endif %}">{{event.get_event_location_display}} {{event.event_location_details}} {% if not event.get_event_location_display %}{% if not event.event_location_details %}No location provided {% endif %}{% endif %}{% ifnotequal event.event_attendee_count 0 %}| {{event.getAttendeeCount}} attendee{{event.getAttendeeCount|pluralize}}{% endifnotequal %}</li>
</ul></li>
{% endfor %}
</ul>
{% else %}
There are no events to display.
{% endif %}

<div style="height: 24px; clear: both;"></div>
<div class="legend" style="width: 70%; padding-top: 8px; margin-top: 12px;">
<h2 class="legend-title">Features</h2>
<div style="padding-top: 16px;">
{% for feat in feat_opts %}
<span style="white-space:nowrap; padding-right: 12px;"><a href="/features/{{feat.feature_name}}"><img src="/media/cal/{{feat.feature_icon}}" alt="{{feat.feature_name}}" style="height: 24px; width: 24px;"/></a> <a href="/features/{{feat.feature_name}}" style="vertical-align: top;">{{feat.feature_name}}</a></span>
{% endfor %}
</div>

</div>
{% endblock %}
