<!-- Checkout http://benkreeger.com/post/312292823/django-and-the-admin-datetime-picker -->


{% extends "cal/base.html" %}

{% block title %}Add Event{% endblock %}

{% block headercss %}
<style type="text/css">

    .add-row {
        padding-left:18px;

        background:url(/static/cal/css/img/add.png) no-repeat left center;

    }

    .delete-row {
        padding-left:18px;

        background:url(/static/cal/css/img/delete.png) no-repeat left center;

    }
    
</style>
<link rel="stylesheet" type="text/css" href="/static/cal/css/anytime.css" />
{% endblock %}

{% block headerscript %}
   <script type="text/javascript" src="/static/cal/js/core.js"></script>
   <script type="text/javascript" src="/static/cal/js/admin/RelatedObjectLookups.js"></script>

   <script type="text/javascript" src="/static/cal/js/jquery.formset.js"></script>
   <script type="text/javascript" src="/static/cal/js/anytimec.js"></script>
   <script type="text/javascript" src="/static/cal/js/datetimepicker_css.js"></script>

<script type="text/javascript">
  $(function() {
    $('.evForm').formset({
      prefix: '{{ formset.prefix }}',
      added: function() {
         first = $("input[name*='event_subtitle']:first");
         last = $("input[name*='event_subtitle']:last");
         last.val(first.val());
         
         first = $("textarea[name*='event_subdescription']:first");
         last = $("textarea[name*='event_subdescription']:last");
         last.val(first.val());
         
         first = $("input[name*='event_date_time_start']:first");
         last = $("input[name*='event_date_time_start']:last");
         last.val(first.val());
         
         first = $("input[name*='event_date_time_end']:first");
         last = $("input[name*='event_date_time_end']:last");
         last.val(first.val());
         
         first = $("select[name*='event_location']:first");
         last = $("select[name*='event_location']:last");
         last.val(first.val());
         
         first = $("input[name*='event_location_details']:first");
         last = $("input[name*='event_location_details']:last");
         last.val(first.val());
         
         first = $("input[name*='event_date_rsvp_deadline']:first");
         last = $("input[name*='event_date_rsvp_deadline']:last");
         last.val(first.val());
         
         first = $("input[name*='event_max_attendance']:first");
         last = $("input[name*='event_max_attendance']:last");
         last.val(first.val());
         
         $('#id_form-0-event_subtitle').show();
         $("label[for='id_form-0-event_subtitle']").parent().show();
         $('#id_form-0-event_subdescription').show();
         $("label[for='id_form-0-event_subdescription']").parent().show();
      }
    })
});

$(document).ready(function(){
   $('.evForm').find('.delete-row').remove();
   //$("input[name*='event_date_time_start']").AnyTime_picker(
   //{ format: "%m/%d/%y %I:%i%p" } );
   startfield = $("input[name*='event_date_time_start']");
   startfield.after("<a href=\"javascript:NewCssCal('" + startfield.attr('id') + "', 'MMddyyyy', 'Arrow', 'true', '12', 'true')\"><img src=\"/static/cal/css/img/cal.gif\"></a>");
   //$("input[name*='event_date_time_end']").AnyTime_picker(
   //{ format: "%m/%d/%y %I:%i%p" } );
   endfield = $("input[name*='event_date_time_end']");
   endfield.after("<a href=\"javascript:NewCssCal('" + endfield.attr('id') + "', 'MMddyyyy', 'Arrow', 'true', '12', 'true')\"><img src=\"/static/cal/css/img/cal.gif\"></a>");
   //$("input[name*='event_date_rsvp_deadline']").AnyTime_picker(
   //{ format: "%m/%d/%y" } );
   rsvpfield = $("input[name*='event_date_rsvp_deadline']");
   rsvpfield.after("<a href=\"javascript:NewCssCal('" + rsvpfield.attr('id') + "', 'MMddyyyy', 'Arrow', 'false', '12', 'true')\"><img src=\"/static/cal/css/img/cal.gif\"></a>");
   
   {% if clusterForm %}
   $('#id_form-0-event_subtitle').hide();
   $("label[for='id_form-0-event_subtitle']").parent().hide();
   $('#id_form-0-event_subdescription').hide();
   $("label[for='id_form-0-event_subdescription']").parent().hide();
   {% endif %}
   
   $("input[name*='cluster_board_enabled']").attr('checked', 'checked');
   $("input[name*='cluster_notify_boardpost']").attr('checked', 'checked');
});



</script>

{{ formset.media }} 
{% endblock %}


{% block content %}

{% if event %}
<h1 id="title">Add A Related Event</h1>
<div id="event_top"><h1>{{ event.event_cluster.cluster_title }}</h1></div>
{% endif %}

<br />

{% if clusterForm.errors or formset.errors %}
There was an error with the submission.<br />
{% if formset.non_form_errors %}
   {% for nfe in formset.non_form_errors %}
   {{nfe}}<br />
   {% endfor %}
   {% endif %}<br />
{% endif %}

<form id="eventForm" action="" method="POST" enctype="multipart/form-data" >
   {% if clusterForm %}
   <table class="formTable">
      <tbody>
      {% for field in clusterForm %}
         <tr>
            <th class="tableLabel">{{ field.label_tag }}: 
            {% if field.field.required %}<br /><span class="required">Required<br />&nbsp;</span>{% endif %} </th>
            <td>{% if field.errors %}
               <ul class="errorlist">
               {% for error in field.errors %}
               <li>{{ error }}</li>
               {% endfor %}
               </ul>
               {% endif %}
               {{ field }}
               {% if field.help_text %}
               <br />
               {{ field.help_text }}
               {% endif %}</td>
         </tr>
      {% endfor %}
	 
	 {% comment %} ADDED for Student Groups {% endcomment %}
	 {% if group_mships %}
      <tr> 
        <th class="tableLabel"><label for="id_post_groups">Post event on Princeton Student Groups</label>: 
        </th> 
        <td> 
          <select name="post_groups" id="id_post_groups" />
	  <option value="" selected="selected">---------</option>
	  {% for m in group_mships %}
	  <option value="{{m.group.id}}">{{m.group.name}}</option>
	  {% endfor %}
</select>
</td> 
</tr>
{% else %}{% if group %}
      <tr> 
        <th class="tableLabel"><label for="id_post_groups">Post event on Princeton Student Groups</label>: 
        </th> 
        <td> 
          <select name="post_groups" id="id_post_groups" />
	  <option value="" selected="selected">---------</option>
	  <option value="{{group.id}}">{{group.name}}</option>
</select>
</td> 
</tr>
	 {% endif %}{% endif %}

      </tbody>
   </table>
   {% endif %}
   
   {% for form in formset.forms %}
      <div class="evForm">
      <hr />
      <table class="formTable">
         <tbody>
         {% for field in form %}
            <tr>
               <th class="tableLabel">{{ field.label_tag }}: 
               {% if field.field.required %}<br /><span class="required">Required<br />&nbsp;</span>{% endif %} </th>
               <td>{% if field.errors %}
                  <ul class="errorlist">
                  {% for error in field.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                  </ul>
                  {% endif %}
                  {{ field }}
                  {% if field.help_text %}
                  <br />
                  {{ field.help_text }}
                  {% endif %}</td>
            </tr>
         {% endfor %}
         </tbody>
      </table>

      </div>
   {% endfor %}
   {{ formset.management_form }}
   <br /><input type="submit" value="Submit" name="submit" />
</form>
		
{% endblock %}

