<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Rodrigo Menezes">
	<meta name="keywords" content="Princeton,TigerApps,Tiger,Apps,DVD">
	<link rel="icon" 
	      type="image/ico" 
	      href="/static/images/favicon.ico">
	<title> {% block title %}USG DVD Service{% endblock %}</title>
	<script src="http://www.google.com/jsapi"></script><script>google.load("mootools", "1.2.1");</script>
	{% block headercss %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="/static/dvd/css/styles.css" />
</head>
    
<body>
	{% include "main/mootools.html" %}
	<div class="wrapper">
		
    	<!--Header-->
	    <div class="header">
	    	{% block logo %}{% endblock %}
	        <!--<div class='usg'>
				<a href="http://usg.princeton.edu"><img class="header-image" src="/static/dvd/images/usglogo.png" alt=""/></a>
			</div>-->
	    </div>
			
        <!--Content-->
		<div class="content">
			{% block admin %}
			{% endblock %}
		 	{% block content %}
			{% endblock %}
		</div>

	</div><!--Wrapper-->
	
    <div class="footer" style="text-align: center;">
		<small>&copy;USG 2011 | Made by <a href="mailto:rmenezes[-AT-]princeton[-DOT-]edu" style="color: white;">Rodrigo Menezes</a> | Design by <a href="mailto:rmenezes[-AT-]princeton[-DOT-]edu" style="color: white;">Rodrigo Menezes</a> and Ed Kelley</small>
	</div>
</body>
</html>

