{# Event poster #}

{% if club.picture %}
<div class="club_picture" style="text-align: center; float: left; width: 300px;"><img class="picture" alt="" src="/{{ club.picture.url }}" style="display: block;"/></div>
{% endif %}

<div class="club_about" style="float: right; width: 550px;">
	<h3 style="font-weight: bold; font-size: 18px; padding-bottom: 5px;">About</h3>
	{{ club.about|safe }}
	<br/>
	<h3 style="font-weight: bold; font-size: 18px; padding-bottom: 5px;">Upcoming Events</h3>
	<table>
		{% for event in event_list %}
		<tr>
			<td style="padding-right: 15px;"><a class="event-link" value="{{ event.event_id }}" >{{ event.time_start|date:"N jS" }}</a></td>
			<td><a class="event-link" value="{{ event.event_id }}" >{{ event }}</a></td>
		</tr>
		{% endfor %}
	</table>
</div>

{# Event time #}
