<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Rodrigo Menezes">
	<meta name="keywords" content="Princeton,TigerApps,Tiger,Apps,Elections">
	<link rel="icon" 
	      type="image/ico" 
	      href="/media/images/favicon.ico">
	<title> TigerApps 404</title>
	<script src="http://www.google.com/jsapi"></script><script>google.load("mootools", "1.2.1");</script>
	
<link rel="stylesheet" type="text/css" href="/media/elections/css/reg.css" />
<link rel="stylesheet" type="text/css" href="/media/elections/css/new-styles.css" />
</head>

<body>
	{% include "main/mootools.html" %}
	<div class="wrapper">
		
    	<!--Header-->
	    <div class="header">
	    	<a href="http://usg.princeton.edu" style="display: inline; float: left;"><img src="/media/dvd/images/usg-225-trans.png" height="100" /></a> <h1 style='float: right; font-family: "Trebuchet MS"; font-size: 60px; margin: 15px 0; padding: 0;'>TigerApps 404</h1>
	        <!--<div class='usg'>
				<a href="http://usg.princeton.edu"><img class="header-image" src="/media/dvd/images/usglogo.png" alt=""/></a>
			</div>-->
	    </div>
			
        <!--Content-->
		<div class="content">
<div class="content">
	<h1>Sad Pandas!</h1>
	<img src="/media/images/sad-panda.jpg" />
	<p>Your page is not found! That makes our Panda sad! Either this page was moved, your link is just plain wrong, or the TigerApps server has ghosts in it.</p>
	<br/>
	<p>Remember: Pandas HATE ghosts. </p>
</div>
</div>

</div><!--Wrapper-->

<div class="footer" style="text-align: center;">
<small>&copy;USG 2011 | <a href="http://www.surveygizmo.com/s3/623136/TigerApps-Feedback" style="color: white; text-decoration: underline;">Submit a bug</a></small>
</div>
</body>
</html>