{% extends 'groups/browse.html' %}

{% block content %}

  <ul class="list_jump">
    {% for c in categories %}
    <li class="cat"><a href="#{{c.category}}">{{c}}</a></li>
    {% endfor %}
    <li class="cat" style="float: right;"><form action="/groups/">
	<input type="submit" name="switch_alpha" value="Browse by Name" class="button"/>
    </form></li>
  </ul>

  <ul class="list">
    {% for c in categories %}
    <li class="title"><a name="{{c.category}}">{{c}}</a></li> 
    <li><ul>
	{% for group in groups %}
	{% for c1 in group.categories.all %}
	{% ifequal c c1 %}
	<div class="group_box">
	  <a href="/groups/{{group.url}}/">{% if group.image %}<img class="group_box_pic" src="{{group.image.thumbnail.url}}">{% else %}<img src="/static/groups/noimage.jpeg" width="100" height="75" class="group_box_pic">{% endif %}</a>
	  <div class="group_box_right">
	    {% if user %}<span class="group_box_status">
	      {% for key, value in affil.items %}{% ifequal key group.id %}{% autoescape off %}{{value}}{% endautoescape %}{% endifequal %}{% endfor %}
	    </span>{% endif %}
	  <span class="group_box_title"><a href="/groups/{{group.url}}/">{{ group }}</a></span><br/>
	  <span class="group_box_descrip"><strong>Description:</strong> {{group.description|cut:"<p>"|cut:"</p>"|slice:":80"}}{% if group.description|slice:"80:" %} ...{% endif %}</span>
	  </div>
	  <div style="clear:left;"></div>
	</div>
	{% endifequal %}
	{% endfor %}
	{% endfor %}
    </ul></li> 
    {% endfor %}
  </ul>

{% endblock %}
