{% extends 'groups/base.html' %}

{% block rightcol %}
{% include 'groups/mship_sidebar.html' %}
{% include 'groups/off_sidebar.html' %}
{% endblock %}

{% block content %}

  <script>
    /*function check_all() {
    $('.check_approve').attr('checked', 'checked');
    }
    function uncheck_all() {
    $('.check_approve').removeAttr('checked', 'checked');
    }*/

    function check_all(box) {
    if(box.checked)
    $('.check_approve').attr('checked', 'checked');
    else
    $('.check_approve').removeAttr('checked', 'checked');
    }

    function submit_all() {
    
    }

  </script>

{% if renew %}
<ul class="nav_tree">
<li class="nav_tree_1"><a href="/groups/{{group.url}}/">{{group.name}}</a></li>
<li class="nav_tree_2"><a href="/groups/{{group.url}}/renew">Renew Group</a></li>
<li class="nav_tree_3">
  <div class="group_header">
    <h2>Edit Members</h2>
  </div></li></ul>
{% else %}{% if reactivate %}
<ul class="nav_tree">
<li class="nav_tree_1"><a href="/groups/{{group.url}}/">{{group.name}}</a></li>
<li class="nav_tree_2"><a href="/groups/{{group.url}}/reactivate">Reactivate Group</a></li>
<li class="nav_tree_3">
  <div class="group_header">
    <h2>Edit Members</h2>
</div></li></ul>
{% else %}
<ul class="nav_tree">
<li class="nav_tree_1"><a href="/groups/{{group.url}}/">{{group.name}}</a></li>
<li class="nav_tree_2">
  <div class="group_header">
    <h2>Edit Members</h2>
  </div></li></ul>
{% endif %}{% endif %}

  <div class="group_profile">

    <form action="" method="get" id="search_form_id">
      <table class="search_form_block">
	{{form.as_table}}
      </table>
      <input type="hidden" name="page" id="page_input_id" value="{{page.number}}">
      <input type="hidden" name="sort" id="sort_input_id" value="{{sort}}">
      <input type="submit" value="Search">
    </form><br/>

    {% if mships %}
    {{page.start_index}}-{{page.end_index}} of {{p.count}} members
    <form method="post" class="member_list">
<!--      <ul>
	<li><input type="button" value="Check All" onclick="check_all();"/></li>
	<li><input type="button" value="Uncheck All" onclick="uncheck_all();"/></li>
      </ul>-->
      
      <table class="requestTable">
	{% if mships %}
	<tr>
	  <th><input type="checkbox" id="master_check" value="" onclick="check_all(this);"/></th>
	  <th name="header" onclick="$('#sort_input_id').attr('value','netid');$('#search_form_id').submit();"/>NETID{% ifequal sort 'netid' %} <img src="/static/groups/sort_arrow.jpeg">{% endifequal %}</th>
	  <th name="header" onclick="$('#sort_input_id').attr('value','name');$('#search_form_id').submit();">NAME{% ifequal sort 'name' %} <img src="/static/groups/sort_arrow.jpeg">{% endifequal %}</th>
	  <th name="header" onclick="$('#sort_input_id').attr('value','year');$('#search_form_id').submit();">YEAR{% ifequal sort 'year' %} <img src="/static/groups/sort_arrow.jpeg">{% endifequal %}</th>
	  <th name="header" onclick="$('#sort_input_id').attr('value','rank');$('#search_form_id').submit();">RANK{% ifequal sort 'rank' %} <img src="/static/groups/sort_arrow.jpeg">{% endifequal %}</th>
	</tr>
	{% endif %}

<script>
  $('th[name="header"]').hover( function() { $(this).toggleClass('hover'); } );
</script>

	<div id="table_content">
	  {% for m in mships %}
	  <tr name="member">
	    <td class="check"><input type="checkbox" class="check_approve" name="{{m.student}}" id="{{m.student}}"/></td>
	    <td onclick="window.open('{{fbook}}{{m.student.netid}}');">{{m.student}}</td>
	    <td onclick="window.open('{{fbook}}{{m.student.netid}}');">{{m.student.last_name}}, {{m.student.first_name}}</td>
	    <td onclick="window.open('{{fbook}}{{m.student.netid}}');">{% if m.student.year %}{{m.student.year}}{% else %}<em>Not Given</em>{% endif %}</td>
	    <td onclick="window.open('{{fbook}}{{m.student.netid}}');">
	      {% ifequal m.type 'O' %}Officer{% if m.title %}: {{m.title}}{% endif %}
	      {% else %}Member{% endifequal %}
	    </td>
	  </tr>
	  {% endfor %}
	  </div>
      </table>
      
<script>
  $('tr[name="member"]').hover( function() { $(this).toggleClass('td_hover'); } );
</script>

      <ul>
	<li><input type="submit" value="Remove" name="remove" onclick="return confirm('Are you sure you want to remove these users from the group?');"/></li>
	<li><input type="submit" value="Promote/Edit Officers" name="promote"/></li>
	<li><input type="submit" value="Demote Officers" name="demote"/></li>
	{% if renew %}<input type="hidden" value="True" name="renew"/>{% endif %}
	{% if reactivate %}<input type="hidden" value="True" name="reactivate"/>{% endif %}
      </ul>
    </form>

<!--    <form method="get" action="">-->
      <ul class="paginate">
	{% if page.has_previous %}<li><input type="button" value="<< First" name="first" class="prev" onclick="$('#page_input_id').attr('value',1);$('#search_form_id').submit();"/></li>
	<li><input type="button" value="Previous" name="prev" class="prev" onclick="$('#page_input_id').attr('value',{{page.previous_page_number}});$('#search_form_id').submit();"/></li>{% endif %}
	{% if page.has_next %}
	<li><input type="button" value="Last >>" name="last" class="next" onclick="$('#page_input_id').attr('value',{{p.num_pages}});$('#search_form_id').submit();"/></li>	
	<li><input type="button" value="Next" name="next" class="next" onclick="$('#page_input_id').attr('value',{{page.next_page_number}});$('#search_form_id').submit();"/></li>
	{% endif %}
      </ul>
<!--    </form>-->
    {% else %}
    <h4><em>There are no members listed.</em></h4>
    {% endif %}

    </div>

{% endblock %}
