{% extends 'groups/base.html' %}

{% block rightcol %}
{% include 'groups/help_sidebar.html' %}
{% endblock %}

{% block content %}

<div class="group_header">
  <h2>Help: Overview</h2>
</div>

<div class="group_profile">

Princeton Student Groups is a forum for the many different student-run organizations at Princeton University.  Participating groups have a profile containing a variety of information, including the group description, officers, and a public newsfeed.  The site provides tools both for non-members (to keep abreast of the latest updates) as well as for members of student organizations (to communicate and coordinate group activities).<br/><br/>

<div class="subsection">
<h3 class="subheader">Browse</h3>
<p class="subcontent"><strong>Browse</strong> the numerous student-run organizations by clicking on "Browse Groups" in the top menu and viewing the list of Princeton student organizations.  You can look through the list alphabetically or by category, or you can <strong>search groups</strong> using the searchbar in the top right corner.  To learn more about an organization, click on their name to view their profile.</p>
</div>

<div class="subsection">
<h3 class="subheader">Personal Account</h3>
<p class="subcontent"><strong>Log in</strong> and <strong>manage your account</strong> with the tools in the top right corner.  You can control email notification settings and your personal information at "Account Settings" and see the groups you are involved with at "My Groups".</p>
</div>

<div class="subsection">
<h3 class="subheader">Follow Groups</h3>
<p class="subcontent"><strong>Follow group news</strong> by navigating to the group's profile.  Users with a Princeton netid can use the right menu ("Follow Group") to subscribe and recieve email notifications of updates. Or, request membership to a group and recieve messages on the member message board.</p>
</div>

<div class="subsection">
<h3 class="subheader">Manage Your Group</h3>
<p class="subcontent">Officers can <strong>manage their groups</strong> by using the tools provided on the "Manage Group" menu on the right of the group profile.  Use these tools to publicize events, provide group information, and communicate with members.</p>
</div>

<div class="subsection">
<h3 class="subheader">Leadership</h3>
<p class="subcontent">Current leaders of student organizations or those looking to start a group of their own can click the "Leadership" button in the top menu to view information on <strong>planning events, aquiring funding, and creating new student groups</strong>.</p>
</div>


<div class="subsection">
<h3 class="subheader">Help</h3>
<p class="subcontent">For more information on specific topics, see the different sections at right.</p>
</div>

</div>

{% endblock %}
