    <div class="sidebar"> 
      <div class="sidebar-title"> 
	<h3>Follow Group<span class="more"><a href="/help/follow">Help</a></span></h3> 
      </div> 
      <div class="sidebar-content"> 
	<ul class="sidebar-menu">
	  {% if user_mship %}
	  <li><a href="/groups/{{group.url}}/settings/">Membership Settings</a></li>
	  {% ifequal user_mship.type 'S' %}{% if not user_req %}<li><a href="/groups/{{group.url}}/request/">Become a Member</a></li>{% endif %}
	  {% else %}
	  <li><a href="/groups/{{group.url}}/messages/">{% if unread_messages %}<strong>{% endif %}Message Board{% if unread_messages %} ({{unread_messages}})</strong>{% endif %}</a></li>
	  {% endifequal %}
	  {% else %}
	  <li><a href="/groups/{{group.url}}/subscribe/">Subscribe to Group</a></li>
	  {% if not user_req %}<li><a href="/groups/{{group.url}}/request/">Become a Member</a></li>{% endif %}
	  {% endif %}
	  {% if user_req %}
	  <li><a href="/groups/{{group.url}}/withdraw/" onclick="return confirm('Are you sure you want to withdraw your membership request?');">Withdraw Membership Request</a></li>
	  {% endif %}
	</ul>
      </div> 
    </div>
