<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="USG IT">
	<meta name="keywords" content="Princeton,TigerApps,USG,Storage,Summer">
	<link rel="icon" 
	      type="image/ico" 
	      href="/static/images/favicon.ico">
	<title>{% block title %}USG Summer Storage{% endblock %}</title>

	<!-- Adding CSS -->
	<link rel="stylesheet" type="text/css" href="/static/storage/css/styles.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

	<!-- Create a MenuMatic Instance -->
    <!--<script type="text/javascript" src="/static/storage/js/jquery.easing.js"></script>
    <script type="text/javascript" src="/static/storage/js/jquery.sweet-menu-1.0.js"></script>
    <script type="text/javascript" >
		window.addEvent('domready', function() {			
			var myMenu = new MenuMatic({ hideDelay:400 });
		});		

		$(document).ready(function() {
			$('#Menu').sweetMenu({top:400,padding:8,iconSize:48,easing:'easeOutBounce',duration:500,
			icons:['/static/storage/images/home.png', '/static/storage/images/comments.png','/static/storage/images/red_heart.png']});
	});
	</script> -->
	
	{% block header %}
	{% endblock %}
	
</head>

<body>
	{% include "main/jquery.html" %}
	<div class="wrapper">
		<div class="top">
			<div class="header">
				<div class="logo" id="usglogo"><a href="http://usg.princeton.edu"><img src="/static/ttrade/images/usglogoless.png" alt=""/></a></div>
				<div class="logo" id="storagelogo"><a href="/"><span style='font-family:tahoma;font-size:400%;font-weight:bold;'>Summer Storage</span></a></div>
				{% if user.is_authenticated %}
					<div id="account"><span style="font-weight:normal;">Welcome, {{user.username}}! &gt; </span><a href="/logout/">Logout</a></div>
				{% else %}
					<div id="account"><a href="/login/">Login!</a></div>
				{% endif %}
			</div> <!-- header-->
		</div><!-- top -->
		
		<div id="menu">
			<ul class="subsection_tabs">
            	<li class="tab"><a href="/">Home</a></li>
            	<li class="tab"><a href="/register/">Register</a></li>
            	<li class="tab"><a href="/order/">My Order</a></li>
        	</ul>
		</div><!-- MENU -->
		
		<div class="main">
			{% block content %}{% endblock %}
		</div><!--  main -->
		
	</div><!--wrapper-->
	
	<div class="footer">
		<small>Website developed by <a href="mailto:joshchen[-AT-]princeton[-DOT-]edu">Josh Chen '14</a>, Michael Franklin '13, Adam Suczewski '15, Eugene Lee '15, Gabriel Chen '14, and Vivian Qu '14
            <br/>Initiative coordinated by <a href="mailto:haekim[-AT-]princeton[-DOT-]edu">Haebin Kim '13</a>, Charles Guo '14, Alex Pretko '12, and Emilie Burke '15
			<br/>&copy;USG 2012 | <a href="/admin/" style="font-weight:bold;">Admin</a></small>
	</div>
</body>
</html>
