<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="USG IT">
	<meta name="keywords" content="Princeton,TigerApps,Tiger,Apps,TigerStorage">
	<link rel="icon" 
	      type="image/ico" 
	      href="/static/images/favicon.ico">
	<title>{% block title %}TigerStorage{% endblock %}</title>

	<!-- Adding CSS -->
	<link rel="stylesheet" type="text/css" href="/static/ttrade/css/styles5.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	
	<!-- Create a MenuMatic Instance -->
    <script type="text/javascript" src="/static/storage/js/jquery.easing.js"></script>
    <script type="text/javascript" src="static/storage/js/jquery.sweet-menu-1.0.js"></script>
    <script type="text/javascript" >
	window.addEvent('domready', function() {			
		var myMenu = new MenuMatic({ hideDelay:400 });
	});		
	</script>
    <script type="text/javascript" >
		$(document).ready(function() {
			$('#Menu').sweetMenu({top:400,padding:8,iconSize:48,easing:'easeOutBounce',duration:500,
			icons:['/static/storage/images/home.png', 'static/storage/images/comments.png','static/storage/images/red_heart.png']});
	});
	</script>
	
	
</head>

<body>
	{% include "main/mootools.html" %}
	<div class="wrapper">
		<div class="top">
			<div class="header">
				<div class="logo" id="usglogo"><a href="http://usg.princeton.edu"><img src="/static/ttrade/images/usglogoless.png" alt=""/></a></div>
				<div class="logo" id="ttradelogo"><a href="/"><img src="/static/ttrade/images/ttrade.jpg" alt=""/></a></div>
				<div class="right">
					{% if logged_in %}
						<div id="make_a_listing"><a href="/create">Make a listing!</a></div><br/>
						<div id="your_listings"><a href="/yourListings">Your listings</a></div>
						<div id="logout"><a href="/logout">Logout</a></div>
					{% else %}
						<div id="login"><a href="/login">Login!</a></div>
					{% endif %}
				</div>
			</div> <!-- header-->

		</div><!-- top -->
		
		<div class="index">
		<!-- MENU -->
			
			<ul id="Menu">
            	<li><a href="#home">Home</a></li>
            	<li><a href="#home">Register</a></li>
            	<li><a href="#home">Status</a></li>
        	</ul>
		</div>
		
		<div class="content">{% block content %}{% endblock %}</div>
		
	</div><!--wrapper-->
	
	<div class="footer" style="text-align: center;">
		<small>&copy;USG 2011 | Made by <a href="mailto:rmenezes[-AT-]princeton[-DOT-]edu" style="color: white;">Rodrigo Menezes</a><br/><a href="http://www.surveygizmo.com/s3/623136/TigerApps-Feedback" style="color: white;">Report a bug</a> | <a href="/terms" style="color: white;">Terms of Use</a></small>
	</div>
</body>
</html>
