{% extends "storage/base.html" %}

{% block content %}
    <div style="width:560px;margin:0 auto 20px;">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/0LdNXZuRKfc" frameborder="0" allowfullscreen></iframe>
    </div>

    {% for post in posts.object_list %}
        <h2 id="postTitle" style="text-align:center;">{{ post.title }}</h2>
        <p id="postDate" style="text-align:center;margin-top:-8px;">{{ post.posted|date:"F j, Y" }}</h3>
        {% autoescape off %}
        {{ post.content }}
        {% endautoescape %}
    {% endfor %}
    <div class="pagination"><span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span></div>
{% endblock %}
