{% extends "storage/base.html" %}

{% block content %}

	<h2>Register for Storage</h2>
	<p>Register here to store yo' junk with the USG Summer Storage Initiative this summer. Over 2000 boxes were stored with us over the summer of 2011, and we've expanded the service for you this year - it's as convenient, safe, and cheap as ever!</p>
	<p><strong>Currently, you are limited to a single order so make it count!</strong></p>
	
	<p style="text-align:center;margin:30px 0 20px 0;">
		<span class="payment">1. Provide information</span>
		<span class="payment" style="color:orange;font-weight:bold;">2. Confirm & pay with PayPal</span>
		<span class="payment">3. Complete!</span>
	</p>
	
	<div class="register">
	<table class="form">
		{% for type, th, td in reg_info %}
			<tr><th>{{th}}</th>
			<td>{%ifequal type 1%}{{td.0}}<br/>{{td.1}}{%else%}{{td}}{%endifequal%}</td></tr>
		{% endfor %}
		
		<tr><td colspan="2" class="desc" style='text-align:center;'>
			<table style='margin:auto;'><tr><td style='vertical-align:center;padding-right:5px;'><input type="button" value="&lt;&lt; Start over" onclick="window.location.href='.';"/></td>
			<td style='vertical-align:center;padding-left:5px;'>{{pp_info}}</td></tr></table>
		</td></tr>
	</table>
	</div>

{% endblock %}