{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block middle %}
    <ul>
    <li>
    Professors are welcome to offer responses to reviews, clarifications on courses taught, or suggestions for the site itself by emailing <a href="mailto:scg@princeton.edu">scg@princeton.edu</a>. Please let us know whether you would like your comments to appear on your own or your course's profile, and we will post your comments in their entirety.
    </li>
   <li>
    Although we are in the process of making the Student Course Guide as comprehensive and useful as possible, we want to encourage you to take advantage of Princeton's entire advising system when selecting courses.  Think of your Academic Advisor, Peer Advisors, College Director of Studies, RCA, the Registrar's Course Offerings, and knowledgeable students as beneficial resources to help make well-informed decisions.
    </li>
    <li>
    This site is undergoing modifications and improvements constantly. We
    would like to hear from you as to how we can be a more useful resource
    to students and professors alike. Please email <a href="mailto:scg@princeton.edu">scg@princeton.edu</a> with suggestions.
    </li>
    </ul>

{% endblock %}
