{% extends "base.html" %}
{% block title %}SCG BlackBoard<sup>TM</sup>{% endblock %}

{% block middle %}
<h2>FAQ: Frequently Asked Questions</h2>
<h3>What is a BlackBoard<sup>TM</sup>?</h3>
<p>
    Every course on the SCG has its own BlackBoard<sup>TM</sup>.  On one, you can write corrections, recommendations, tips, notes to other students, or really anything you want.
</p>
<h3>Is it anonymous?</h3>
<p>
    BlackBoard<sup>TM</sup> is <strong>not</strong> anonymous on our end.  We log netids.  So, please refrain from leaving vulgar or derogatory comments and try to stay on topic.  On the public end, we don't display who wrote what (just like on a physical blackboard), so try to always leave a signature.
</p>
<h3>Can I erase what someone else wrote?</h3>
<p>
    Just like a physical blackboard, BlackBoard<sup>TM</sup> lets anyone write or erase messages. If a comment is inappropriate or stale, feel free to erase it.  If a message is accurate and useful, it's bad form to take it down.
</p>
<h3>Why does someone keep deleting what I write?</h3>
<p>
Just like a physical blackboard, if multiple people are trying to write on the same BlackBoard<sup>TM</sup> at the same time, they can get in the way of each other.  Give the other person a minute to write a comment first, then reload the page.
</p>
{% endblock %}
