body {
	font-family: helvetica,sans-serif;
	font-size: 0.95em;
}
h2 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
div, span {
	margin:0;
	padding:0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


#jmap-container {
	position: absolute;
	top: 28px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color:LightGray;
	overflow: hidden;
}

#jmap-movable {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color:LightGray;
}



.map-box {
	background-color:#FCFAF8;
    opacity:0.92;
    box-shadow:0px 0px 0.8em hsla(0, 0%, 0%, 1.0);/*3px -2px 1.5em hsla(0, 0%, 0%, 1.0);*/
    z-index:100;
    border-radius: 1px;
}
#map-loading {
	position:absolute;
	padding:10px;
	top:50%;
	left:50%;
	height:24px;
	width:125px;
	margin-top:-22px;
	margin-left:-62px;
}

#jmap-info {
	position:absolute;
	bottom: 20px;
	left: 20px;
	width: 380px;
    padding:10px;
}

#info-top {
	height: 240px;
}
#info-title {
	height:35px;
	width:325px;
	float:right;
	padding:6px 4px 15px 0;
}
#info-top-types {
	padding:10px 20px;
}
#info-top-filters {
	padding:5px 20px;
}
.top-tab {
	display: none;
}

#info-bot {
	height: 0px;
	overflow: hidden;
}




#jmap-options {
	position:absolute;
	left: 420px;
	right: 0px;
	bottom: 20px;
	padding: 0 30px 0;
    z-index:100;
}

#jmap-slider {
    z-index: 101
}



.ui-button, .ui-widget, .ui-state-default, .ui-corner-all {
	border-radius: 2px;
}
.ui-button-text-only .ui-button-text {
	padding: .5em .8em;
}
.ui-button .ui-button-text {
	display: block;
	line-height: 1;
	font: bold 11px Arial,sans-serif !important;
	color: #444 !important;
}