body {
	font-family: helvetica,sans-serif;
	font-size: 13px;
	overflow: hidden;
}
h1, h2, h3 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
div, span {
	border: 0 none;
	margin:0;
	padding:0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a:link, a:visited{
	color:#FF6600;
}
a:hover{
	color:#000000;
}


/*************/
/* Left panel */
/*************/
#jmap-info {
	position:absolute;
	top: 28px;
	left: 0px;
	bottom: 0px;
	width:380px;
	
	background-color:#FAFCF8;
    box-shadow:0px 0px 0.8em hsla(0, 0%, 0%, 1.0);/*3px -2px 1.5em hsla(0, 0%, 0%, 1.0);*/
    z-index:100;
}
#info-content {
	width: 360px;
    padding:10px;
}

#info-top {
	height: 210px;
	margin:0 18px 15px;
}
#info-title {
	height:35px;
	width:325px;
	float: left;
	margin:-4px 0 15px -14px;
}
#info-top-types {
	margin:10px 0;
}
#info-top-filters {
	margin:10px 0;
}
.top-tab {
	display: none;
}

#info-divider {
	height: 0px;
	margin-left: 5px;
	margin-right: 3px;
	border-top: 1px solid #C0C0C0;
}
#info-bot {
	overflow-y: auto;
	margin:15px 0px 15px 11px;
}

/*************/
/* For event data */
/*************/
#info-bldg-name {
	margin-bottom:10px;
}
.info-event-entry {
	padding:0px 12px 8px 0;
	/*margin-right: 5px;*/
}
.info-event-subtitle {
	/*margin-left: 5px;*/
}
.info-event-description {
	/*margin-left: 5px;*/
	color:#464646; /*gray*/
}



/*************/
/* Timeline */
/*************/
#info-jtl {
	position:absolute;
	top: 0;
	left: 380px;
	width: 150px;
	bottom: 0;
}
#jtl-toggle {
	position:absolute;
	height:16px;
	width:16px;
	top:0px;
	right:-30px;
	padding: 7px;
	
	background-color:#FAFCF8;
    box-shadow:5px 5px 0.8em -5px hsla(0, 0%, 0%, 1.0);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}


/*************/
/* Map */
/*************/
#jmap-container {
	position: absolute;
	top: 28px;
	left: 380px;
	right: 0px;
	bottom: 0px;
	background-color:LightGray;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#jmap-movable {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color:LightGray;
}
.jmap-tile {
	position:absolute;
	width:256px;
	height:256px;
}
.jmap-bldg {
	position:absolute;
}

.map-box {
	background-color:#FAFCF8;
    opacity:0.92;
    box-shadow:0px 0px 0.8em hsla(0, 0%, 0%, 1.0);/*3px -2px 1.5em hsla(0, 0%, 0%, 1.0);*/
    z-index:100;
    border-radius: 1px;
}
#map-loading {
	position:absolute;
	padding:10px;
	top:50%;
	left:50%;
	height:24px;
	width:125px;
	margin-top:-22px;
	margin-left:-62px;
}



/*************/
/* Scrollbar */
/*************/
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 2px;
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -moz-border-radius: 2px;
    border-radius: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: rgba(200,200,200,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,0.4); 
}





/*.ui-button, .ui-widget, .ui-state-default, .ui-corner-all {
	border-radius: 2px;
}
.ui-button-text-only .ui-button-text {
	padding: .5em .8em;
}
.ui-button .ui-button-text {
	display: block;
	line-height: 1;
	font: bold 11px Arial,sans-serif !important;
	color: #444 !important;
}*/
