body {
  background-color: #ffffff;
  margin-left: 7px;
  margin-top: 0;
  font-family: Verdana, "Lucida Grande", Arial, "URW Gothic L", Helvetica, "Bitstream Vera Sans", sans-serif;
}
noscript div {
  color: #990000;
  font-size: 16px;
  font-weight: normal;
  padding-top: 50px;
  padding-bottom: 100px;
}
noscript p {
  padding-left: 20px;
  padding-right: 30px;
  max-width: 530px;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #f27f26;
}
a:hover {
  color: #d46a00;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
#header {
  width: 1006px;
  padding: 4px 0 0 0;
  margin: 0 0 0 0;
  background-color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
#logo {
  display: inline-block;
  padding-left: 12px;
  padding-right: 20px;
}
#logo img {
  border: none;
}
#title {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  color: #999999;
}
#toolbar {
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
  margin-left: 202px;
  font-size: 10px;
}
.tool {
  display: inline-block;
  padding: 0 5px 0 5px;
}
.tool a {
  color: #444444;
}
.tool a:hover {
  color: #bbbbbb;
}
.toolSpacer {
  display: inline-block;
  color: #ff9933;
}
#controls {
  width: 988px;
  min-height: 20px;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #808080;
  padding: 7px;
  background-color: #e7e8ea;
  font-weight: bold;
}
#categlist {
  max-width: 200px;
}
#bldglist {
  max-width: 450px;
}
#content {
  position: relative;
  left: 0;
  top: 0;
  width: 1006px;
  border: none;
  padding: 0;
}
.button {
  padding: 2px;
  display: inline;
  max-width: 120px;
  font-size: 12px;
  cursor: pointer;
}
#zoomin {
  padding-left: 20px;
  background: url('zoom_in.png') left center no-repeat;
}
#zoomout {
  padding-left: 20px;
  background: url('zoom_out.png') left center no-repeat;
}
#controls a {
  color: #000000;
}
#controls a:hover {
  color: #808080;
}
#imgdiv {
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
  width: 700px;
  height: 620px;
  border: 2px solid #000000;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
#theImage {
  position: relative;
  border: 3px solid #000000;
}
#highlight {
  display: none;
  z-index: 50;
  position: absolute;
  border: 6px solid #ff9933;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}
#infodiv {
  display: inline-block;
  position: absolute;
  left: 704px;
  top: 0px;
  width: 300px;
  height: 620px;
  margin-left: 0px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  border-left: none;
  vertical-align: top;
  background-color: #e7e8ea;
  text-align: center;
  /* we should never "need" a horizontal scrollbar.
     Make sure that when we overflow Y and get a vert. scrollbar,
     that this does not force a horiz. scrollbar to appear. */
  overflow: auto;
  overflow-x: hidden;
}
#bldgimgdiv {
  min-height: 60px;
}
.bldgimg {
  max-width: 300px;
  max-height: 262px;
  text-align: center;
}
#infotext {
  padding: 0px;
  text-align: left;
  font-size: 13px;
  /* leave some space so things don't get hidden behind
     the scrollbar (NB: parent.overflow-x:hidden, so we don't get
     a horiz. scrollbar.) */
  width: 282px;
}
#infotext ul {
  padding-left: 28px;
}
#infotext p {
  padding-left: 28px;
}
#infotext li {
  padding-bottom: 7px;
}
#bldglistlabel {
  margin-left: 20px;
  font-weight: normal;
  font-size: 14px;
}
#bldglist {
  margin-left: 5px;
}
.phone {
  font-size: 0.7em;
  color: #444444;
}
h2 {
  padding-left: 1em;
  font-size: 18px;
  color: #686868;
}
.error {
  color: #aa0000;
  font-size: 1.5em;
  padding: 20px;
}
#footer {
  width: 1006px;
  padding: 6px 0 3px 0;
  background-color: #ffffff;
  color: #777777;
  font-size: 11px;
}
.spacer {
  padding: 0;
}
#about {
  display: none;
  position: absolute;
  left: 200px;
  top: 200px;
  width: 300px;
  height: 160px;
  border: 2px solid #000000;
  padding: 7px;
  background-color: #e8e7ea;
  color: #000000;
  font-size: 11px;
  z-index: 100;
}
#about .button {
  display: block;
  margin-top: 20px;
}
.instruction {
  color: #777777;
  font-size: 12px;
  text-align: left;
  padding: 5px;
}
a#linkButton.button {
  font-size: 10px;
  font-weight: normal;
  color: #000000;
}

#tour .tourstop {
	position: absolute;
	z-index:60;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	border: 2px solid #666666;
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
	background-color: #dddddd;
}

/* This is a template "tour stop" object which we will duplicate as needed. */
#tourstop {
	display: none;
}

/* This is a dummy DOM object whose properties we will use
   to communicate between CSS and JS. */
#mflag {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  /* Use #mflag.zIndex to define whether we're in Mobile mode */
  z-index: 0;
}

/* for mobile devices */
@media screen and (max-width: 350px) {
  /* Set a flag value, so JavaScript can figure out what mode we're in */
  #mflag { z-index: 1 !important; }
}

