{% extends "rooms/base.html" %}

{% block dataPanel %}

<script type="text/javascript">
  $(function() {
  $( "#tabs" ).tabs();
  });
</script>

<!--
<script>
  $(function() {
  $( "#tabs" ).tabs({
  ajaxOptions: {
  error: function( xhr, status, index, anchor ) {
  $( anchor.hash ).html(
  "Couldn't load this tab. We'll try to fix this as soon as possible. " +
  "If this wouldn't be a demo." );
  }
  }
  });
  });
</script> -->


<div id="roomlist">

<div id="tabs">
  
  <ul>
    {% for draw in draw_list %}
    <li id="tabheaders"><a href="/drawid/{{ draw.id }}">{{ draw }}</a></li>
    {% endfor %}
  </ul>
  {% comment %}
  {% for draw in draw_list %}
  <div id="tabs-{{ draw }}">
    <p>This is the tab for the {{ draw }} draw. The rooms in this draw are:</p>
    <table id="tableall">
      <tr id="tableheadings">
	<td>Room</td>
	<td>Building</td>
	<td>Sqft</td>
	<td>Rated Occupancy</td>
	<td>Floor</td>
	<td>Num Rooms</td>
	<td>Gender</td>
      </tr>
      {#{% for building in buildingbydraw_dict.draw %}#}
      {% for building in building_list %}
      {#{% if draw in building.draw.all %}#}
      
      {% for room in room_list %}
      {#{% if building == room.building %}#}
          
      <tr id "tabledata">
	<td>{{ room.number }}</td>
	<td>{{ building }}</td>
	<td>{{ room.sqft }}</td>
	<td>{{ room.occ }}</td>
	<td>{{ room.floor }}</td>
	<td>{{ room.numrooms }}</td>
	<td>{{ room.gender }}</td>
      </tr>
      {#{% endif %}#}
      {% endfor %}
      {#{% endif %}#}
      {% endfor %}
    </table>
  </div>
  {% endfor %}
  {% endcomment %}
{% endblock dataPanel %}
