{% extends "rooms/base.html" %}

{% block dataPanel %}
<script type="text/javascript">
  $(function() {
  $( "#tabs" ).tabs({show: function(event, ui) {
  id = ui.panel.id;
  $.publish("draw",id.substring(id.length-1));
  }});
  });
</script>

<div id="roomlist">
  <div id="tabs">
    <ul>
      {% for draw in draw_list %}
      <li id="tabheaders"><a href="/drawid/{{ draw.id }}" title="drawtab">{{ draw }}</a></li>
      {% endfor %}
    </ul>
      <div id="expandMap">&darr;</div>
      <div id="restoreMap">&loz;</div>
      <div id="contractMap">&uarr;</div>
  </div>
</div>  

{% endblock dataPanel %}
