<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Room Guide</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
	<!-- Styles -->
	<style>
	  @import "/static/rooms/styles.css";
	</style>
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
	<link type="text/css" href="/static/rooms/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />

	<script type="text/javascript"
		src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBNzMx7eAtkKIRg1kHl4J6_NZiuen5eGQA&sensor=false">
        </script>
		
	<script src="http://www.google.com/jsapi"></script>
	<script>google.load("jquery", "1");</script>
	<script>google.load("jqueryui", "1");</script>
    <!-- Pub/sub framework -->
    <script type="text/javascript" src="/static/rooms/js/jquery.ba-tinypubsub.min.js"></script>

    {{ mapscript|safe }}
    <script type="text/javascript" src="/static/rooms/js/map.js"></script>
    
</head>
<body onload="initialize()">
	{% include "main/jquery.html" %}
    
	<div id="mainColumn">
        <div id="map_canvas"></div>
		<div id="dataPanel"> 
			<div id="expandMap">&darr;</div>
			<div id="restoreMap">&loz;</div>
			<div id="contractMap">&uarr;</div>
			{% block dataPanel %}
			Room / Building Information & Queue
			{% endblock dataPanel %}
		</div>
		<div> 
	</div>
</body>
</html>
