<table id="drawtable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">    
  <thead>
    <tr>
    <th></th>
    <th id="roomTab">Room</th>
    <th id="buildingTab">Building</th>	
    <th id="sqrtTab">Sqft</th>
    <th id="occTab">Room Type</th>
    <th id="floorTab">Floor</th>
    <th id="numRoomsTab">Num Rooms</th>
    <th id="genderTab">Gender</th>    
    <th id="availTab">Available?</th>
    </tr>
  </thead>
    <tbody id="scrollarea">
    {% for room in room_list %}
    <tr>
    <td id="addremoveTab">
        <div class="removeRoom" id="remove{{ room.id }}" onclick="$.publish('queue/remove', {{ room.id }})"></div>
        <div class="addRoom" id="add{{ room.id }}" onclick="$.publish('queue/add',{id:{{ room.id }}, building:'{{ room.building }}', number:'{{ room.number }}' });"></div>
      </td>
      <td><a class="fancyroom" title="Room Overview" data-fancybox-type="iframe" href="/get_room/{{ room.id }}">{{ room.number }}</a></td>
      <td><a class="fancyroom" title="Room Overview" data-fancybox-type="iframe" href="/get_room/{{ room.id }}">{{ room.building }}</a></td>
      <td><a class="fancyroom" title="Room Overview" data-fancybox-type="iframe" href="/get_room/{{ room.id }}">{{ room.sqft }}</a></td>
      <td><a class="fancyroom" title="Room Overview" data-fancybox-type="iframe" href="/get_room/{{ room.id }}">
          {% if room.occ == 1 %}
          Single
          {% else %}
          {% if room.occ == 2 %}
          Double
          {% else %}
          {% if room.occ == 3 %}
          Triple
          {% else %}
          {% if room.occ == 4 %}
          Quad
          {% else %}
          Suite ({{ room.occ }})
          {% endif %}
          {% endif %}
          {% endif %}
          {% endif %}
      </a></td>
      <td><a class="fancyroom" title="Room Overview" data-fancybox-type="iframe" href="/get_room/{{ room.id }}">
      	{% if room.floor == 0 %}
      	Ground
      	{% else %}
      	{% if room.floor == 1 %}
      	First
      	{% else %}
      	{% if room.floor == 2 %}
      	Second
      	{% else %}
      	{% if room.floor == 3 %}
      	Third
      	{% else %}
      	{% if room.floor == 4 %}
      	Fourth
      	{% else %}      
      	{% if room.floor == 5 %}
      	Fifth
      	{% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
      </a></td>
      <td><a class="fancyroom" title="Room Overview" data-fancybox-type="iframe" href="/get_room/{{ room.id }}">{{ room.numrooms }}</a></td>
      <td><a class="fancyroom" title="Room Overview" data-fancybox-type="iframe" href="/get_room/{{ room.id }}">
        {{ room.get_gender_display }}
          {% comment %}
          {% ifequal room.gender "E" %}
        Neutral
        {% else %}
            {% ifequal room.gender "F" %}
            Female
            {% else %}
                {% ifequal room.gender "M" %}
                Male
                {% else %}
                {{ room.gender }}
                {% endifequal %}
            {% endifequal %}
        {% endifequal %}
        {% endcomment %}
      </a></td>
      <td><a class="fancyroom" title="Room Overview" data-fancybox-type="iframe" href="/get_room/{{ room.id }}">
        {% if room.avail %}
        Yes
        {% else %}
        No
        {% endif %}
     </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>