<table id="drawtable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">    
  <thead>
    <tr>
    <th></th>
    <th>Room</th>
    <th>Building</th>	
    <th>Sqft</th>
    <th>Rated Occupancy</th>
    <th>Floor</th>
    <th>Num Rooms</th>
    <th>Gender</th>    
    <th>Available?</th>
    <th></th>
    </tr>
  </thead>
    <tbody id="scrollarea">
    {% for room in room_list %}
    <tr>
    <td>
        <a id="addremove" onclick="$.publish('queue/add',{id:{{ room.id }}, building:'{{ room.building }}', number:'{{ room.number }}' });">add</a>
        <a id="addremove" onclick="$.publish('queue/remove', {{ room.id }})">rem</a>
      </td>
      <td onclick="$('#dataPanel').load('/get_room/{{ room.id }}')">{{ room.number }}</td>
      <td>{{ room.building }}</td>
      <td>{{ room.sqft }}</td>
      <td>{{ room.occ }}</td>
      <td>{{ room.floor }}</td>
      <td>{{ room.numrooms }}</td>
      <td>{{ room.gender }}</td>
      {% if room.avail %}
      <td>Yes</td>
      {% else %}
      <td>No</td>
      {% endif %}
      <td><a href="review/{{ room.id }}">Review</a>
    </tr>
    {% endfor %}
    </tbody>
</table>
