<html>
<head>

<title>Room Guide - Share/Unshare Queues</title>


<link type="text/css" href="/static/rooms/reset.css" rel="Stylesheet" />
<link type="text/css" href="/static/rooms/styles.css" rel="Stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
<link type="text/css" href="/static/rooms/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
<link rel="stylesheet" href="/static/rooms/themes/blue/style.css" type="text/css" media="print, projection, screen" />


</head>


<body>

<div id="settings_container">

<h1>Congrats, your invitation has been sent! Once your friend accepts the invitation to share queues, you'll be able to edit the same queue
and view each other's changes.</h1>

<p><a href="/">Return to Main Page</a></p>

<script type="text/javascript">
onLoad();
</script>

</div>

</body>
</html>
