<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link type="text/css" href="/static/rooms/reset.css" rel="Stylesheet" />
  <link type="text/css" href="/static/rooms/styles.css" rel="Stylesheet" />
  <script type="text/javascript" src="jquery.js"></script>
</head>

<body>      
    <a href="/get_room/{{ roomid }}"><span class="fp_button" id="fp_back_button">&#8592;</span></a>
    <form action = "" method="POST">
    <input id="review_button" name = "review" type="submit" value="Review This Room">
    <input id="review_button" name = "display" type="submit" value="Display Reviews">
</form>
    
    {% if form %}
        <form action = "" method="POST">
        {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <p>
                {% if edit %}
                    <input name="submit" type="submit" value="Submit Edit">
                    <input name="delete" type="submit" value="Delete Review">
                {% else %}
                    <input name="submit" type="submit" value="Submit">
                {% endif %}
                <!--<input name="cancel" type="submit" value="Cancel">-->
            </p>
        </form>
        
    {% else %}
        {% if display %}
        {% if reviews.count == 0 %}
        <p>Sorry, there are no reviews for this room.</p>
        {% endif %}
            <table>
                {% for r in reviews %}
                    <tr>
                        <td><b>{{ r.summary }}</b>
                        <td> {{ r.date }}
                        <td>     Rating: {{ r.rating }}
                    </tr>
                    <tr>
                        <td> {{ r.content }}
                    </tr>
                    <hr>
                {% endfor %}
            </table>
        {% else %}
            {% if deleted %}
                Deleted your review
            {% endif %}
        {% endif %}    
    {% endif %}
    
    <p>
    
    {% if error %}
        Error: {{ error }}
    {% endif %}
    
    {% if submitted %}
        Submitted
    {% endif %}
    
</body>
</html>
