{% block roomview %}

<div id="room_view_wrapper">
<div id="room_view">
    <h1>{{room.number}} {{ room.building }}
    <div class="addRoom" id="addremove" onclick="$.publish('queue/add',{id:{{ room.id }}, building:'{{ room.building }}', number:'{{ room.number }}' });"></div>
    <div class="removeRoom" id="addremove" onclick="$.publish('queue/remove', {{ room.id }})"></div>
    </h1>
    <ul>
    <li>Floor: {{ room.floor }}</li>
    <li>Square Feet: {{ room.sqft }}</li>
    <li>Occupants: {{ room.occ }}</li>
    <li>Subfree: {{ room.subfree }}</li>
    <li>Floor: {{ room.floor }}</li>
    <li>Room Count: {{ room.numrooms }}</li>
    <li>Gender: {{ room.gender }}</li>
    <li>Available?
    {% if room.avail %}Yes{% else %}No{% endif %}
    </li>
    <li>ADA Compliant? 
      {% if room.ada %}Yes{% else %}No{% endif %}
    </li>
    <li>Bi-Level Room? 
      {% if room.bi %}Yes{% else %}No{% endif %}
    </li>
    <li>Connected Room? 
    {% if room.bi %}Yes{% else %}No{% endif %}
    </li>
    <li>Bathroom: 
      {{ room.bathroom }}
      <!--{% if room.bathroom == "PR" %}private{% endif %}-->
    </li>
    
    <li><a href="../review/{{ room.id }}">Review</a></li>
    </ul>
</div>
</div>
{% endblock roomview %}
