<html>
<head>

<title>Room Guide - User Settings</title>


<link type="text/css" href="/static/rooms/reset.css" rel="Stylesheet" />
<link type="text/css" href="/static/rooms/styles.css" rel="Stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
<link type="text/css" href="/static/rooms/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
<link rel="stylesheet" href="/static/rooms/themes/blue/style.css" type="text/css" media="print, projection, screen" />


<style type="text/css" src="styles.css" rel="Stylesheet">

#phone
{
  width: 100px;
}

#submit
{
  width: 100px;
}
</style>


<script type="text/javascript">

function onformsubmit()
{
    var sf = document.settingsform;

    // Remove all extra symbols
    sf.phone.value = sf.phone.value.replace(/\(/g, "");
    sf.phone.value = sf.phone.value.replace(/\)/g, "");
    sf.phone.value = sf.phone.value.replace(/-/g, "");
    sf.phone.value = sf.phone.value.replace(/ /g, "");

    // Check if numeric value
    if(isNaN(parseInt(sf.phone.value)))
    {
        alert("Sorry, your phone number is invalid. Try again!");
        return false;
    }

    sf.phone.value = parseInt(sf.phone.value);


    if("{{ user.phone }}" == sf.phone.value)
         sf.action = "/"
    else
         sf.action = "/confirmphone.html"
    return true;
}

function onLoad()
{

}
</script>


</head>


<body>

<div id="settings_container">

<h1>Hi {{ user.firstname }} ({{ user.netid }} {{ user.puclassyear }})! Edit your settings here.</h1>

<form action="/" onsubmit="return onformsubmit()" method="post" name="settingsform">
<p>Phone #: <input type="text" name="phone" id="phone" value="{{user.phone}}"></input>


{% if not user.confirmed %}
 (<a href="/confirmphone.html">confirm</a>)
{% endif %}

</p>
<p>Text Me With Notifications! <input type="checkbox" name="do_text" id="do_text" {% if user.do_text %} checked {% endif %}></input> </p>
<p>Email Me With Notifications! <input type="checkbox" name="do_email" id="do_email" {% if user.do_email %} checked {% endif %}></input></p>
<input type="hidden" name="form_type" id="form_type" value="settings" />
<p><input type="submit" id="submit" value="Save Settings"></input></p>
</form>

<p><a href="/">Return to Main Page</a></p>

<script type="text/javascript">
onLoad();
</script>

</div>

</body>
</html>
