<html>
<head>

<title>Room Guide - User Settings</title>


<link type="text/css" href="/static/rooms/reset.css" rel="Stylesheet" />
<link type="text/css" href="/static/rooms/styles.css" rel="Stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
<link type="text/css" href="/static/rooms/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
<link rel="stylesheet" href="/static/rooms/themes/blue/style.css" type="text/css" media="print, projection, screen" />


<style type="text/css" src="styles.css" rel="Stylesheet">

#phone
{
  width: 100px;
}

#submit
{
  width: 100px;
}
</style>


<script type="text/javascript">

function onformsubmit()
{
return false;
}

function onLoad()
{

}
</script>


</head>


<body>

<div id="settings_container">

<div>
  <h1>Hi {{ user.firstname }} ({{ user.netid }} {{ user.puclassyear }})! Edit your settings here.</h1>
</div>

<form action="/" onsubmit="onformsubmit()" method="post">{% csrf_token %}
<p>Phone #: <input type="text" name="phone" id="phone" value="{{user.phone}}"></input>


{% if not user.confirmed %}
 (<a href="/confirmphone.html">confirm</a>)
{% endif %}

</p>
<p>Text Me With Notifications! <input type="checkbox" name="dotext" id="dotext" checked="{{user.doemail}}"></input> </p>
<p>Email Me With Notifications! <input type="checkbox" name="doemail" id="doemail" checked="{{user.doemail}}"></input></p>
<input type="submit" id="submit" value="Save Settings"></input>
</form>

<script type="text/javascript">
onLoad();
</script>

 {% if error %}
        Error: {{ error }}
    {% endif %}

</div>

</body>
</html>
