{% extends "ttrade/base.html" %}

{% block title %} TigerTrade | Edit {% endblock %}

{% block content %}

	<div id="center">
		<div class="white"> <h3> Bad user </h3></div>

      <p>Sorry! We have disabled your account for multiple reports of bad user activity.</p>
      
      <p>Please contact it@princetonusg.com if you feel that you were banned unfairly. Please note, however, that as sponsors of a community-based service for which trust is necessary, we do not take such reports of bad activity lightly.</p>
   </div>
{% endblock %}
