{% extends "ttrade/listing.html" %}

{% block fixed %}
	{% if not edit %}
		{% if logged_in and not edit and not expired %}
		<form id="item" action="/confirm" method="POST">
		<div class="box"><h3>Make an offer!</h3>
			<div class="box_inner">
				<div class="centerize">
					{% ifequal listing.method 'Au'%}
						Bid: $<input type="text" id="price" name="price" />
					{% else %}
						<textarea rows="5" cols="40" name="additional" class="validate['required','length[4,300]']"></textarea>
					{% endifequal %}
					<br />
					<input type="hidden" name="listing" value="{{listing.listingID}}"/>
					<input id="get" type="Submit" class="validate['submit']" name="Submit" value="Submit Offer" onClick="return confirmSubmit()" />
				</div>
				<p>(An email will be sent to both you and the seller)</p>
			</div>
		</div>
		</form>
		{% endif %}
		<script type="text/javascript" src="/static/ttrade/js/formcheck/lang/en.js"> </script>
		<script type="text/javascript" src="/static/ttrade/js/formcheck/formcheck-yui.js"> </script>
		<link rel="stylesheet" href="/static/ttrade/js/formcheck/theme/classic/formcheck.css" type="text/css" media="screen" />
		<script type="text/javascript">
			window.addEvent('domready', function() 
			{
				{% ifequal listing.method 'Au'%}
					// Make minimum for price
					var min = ({{listing.price}} + 1).toFixed(2);
					$('price').set('class', "validate['required','number[" + min + ",-1]']");
				{% endifequal %}
				formcheck = new FormCheck('item');
			});
		</script>
	{% endif %}
{% endblock %}
