{% extends "ttrade/base.html" %}

{% block title %}
TigerTrade | Terms of Use
{% endblock %}

{% block content %}
<div class="main">
<h2>TigerTrade Terms of Use</h2>

<div style="text-align: center;"><a href="/" style="color: #425F9D;">Browse & Search Listings</a> | <a href="/create" style="color: #425F9D;"> List an Item or Request</a> | <a href="/yourListings" style="color: #425F9D;">Your Listings</a></div>
<h3>General</h3>

The goal of TigerTrade is to make it as easy as possible for people in the Princeton University community to buy, sell, and exchange stuff. In short, behavior that in any way compromises that goal will be considered grounds for suspending your access to TigerTrade.

More specifically, behavior that will result in indefinite suspension includes:
<ul>
    <li>Listing items as a joke, listing items that do not exist, or listing items you do not intend to actually sell.</li>
    <li>Listing inappropriate items.</li>
    <li>Failing to deliver an item to the winner/buyer of the listing.</li>
    <li>Failing to pay for an item for which you were the high bidder or that you purchased.</li>
    <li>Providing inaccurate descriptions of items for sale.</li>
    <li>"Shill" bidding, i.e., artificially inflating your auction price using a friend's account. </li>
</ul>
Complaints should be sent to point@princeton.edu.

<h3>Selling</h3>

Do not list any item that you do not intend to sell. By listing an item, you are agreeing to sell that item at the stated price.

Users may cancel a fixed-price listings as long as no one has already purchased the item, and auction listings may be cancelled up to an hour before the auction closes.

<h3>Buying</h3>

Do not bid on any item that you do not intend to buy. By bidding on or purchasing an item, you agree to buy the item for that price. Once you have bid on an item, you cannot retract your bid.

<h3>Disclaimers</h3>

Princeton USG, Point webmasters, and Princeton University cannot be held liable for any losses incurred through use of TigerTrade. Use TigerTrade at your own risk.
</div>

{% endblock %}
