/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
div#menu {
	/*float: right;*/
}


div#menu>ul>li:hover {
	background: rgb(212,84,0) url(images/nav_dropdown_sep.gif) left bottom repeat-x;
}


div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    
}
div#menu ul.menu {
/*    padding-left: 30px;*/

}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    top: 0px;
    padding-right: 8px;
    padding-bottom: 7px;
    display: inline;
    float: right;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;	    
}
   
div#menu li:hover>ul {
    left: -2px;
}

div#menu li div {
    list-style: none;
    float: right;
    position: absolute;
    top: 25px;
    right: 0px;
    /*width: 208px;*/
    z-index: 11;
    visibility: hidden;
    padding: 0 0 9px 7px;
    _padding: 0 0 9px 3px;
/*
    background: url(images/submenu-bottom.png) no-repeat 7px bottom;
    _background-image: url(images/submenu-bottom.gif);
*/
 
    margin: 0 0 0 -9px;
}
div#menu li:hover>div {
    visibility: visible;
    
}

div#menu li.current a {}

/* menu::level1 */
div#menu a {
    position: relative;
    z-index: 10;
    /*height: 55px;*/
    display: inline;
    float: right;	
    padding: 0 10px 0 10px;
    /*line-height: 55px;*/
    text-decoration: none;
}
div#menu span {
    /*font: normal 12px 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;*/

    color: #FFF;
    font-weight:bold;
    cursor: pointer;
    background-repeat: no-repeat;		
}
div#menu ul a:hover span {
}

div#menu li { /*background: url(images/nav_separator.png) top left no-repeat;*/ }

div#menu li.last span{
    /*background: url(images/nav_separator.png) top right no-repeat;*/
    padding: 18px 10px 0px 0;
}

div#menu span span.umsgct {
	margin: 1px;
	padding: 1px;
	font-size: 9px;
	font-weight:bold;
	/*dsiplay: inline;*/
	position: absolute;
	top: -6px;
	right: -4px;
	vertical-align: top;
	text-align: center;
	width: 12px;
	height: 12px;
	color: white;
	background: #d45400;
/*
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
*/
}

/* menu::level2 */
div#menu ul ul li {
    background: url(images/nav_dropdown_sep.gif) left bottom repeat-x;
    padding: 4px 0;
    z-index: 9;	
    
          
}

div#menu ul ul li:last-child{
    background: none;  
}

div#menu ul ul {
    z-index: 12;	
    padding: 0;
    background: rgb(212,84,0); url(images/nav_dropdown_grad.png) right top no-repeat;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px; 

/*
    margin-left:4px;
    margin-right:5px;
*/
}
div#menu ul ul a {
  	width: 184px;
	padding: 0px 7px 3px 8px;
    height: auto;
    float: none;
    display: block;

    margin-bottom: 2px;
    z-index: -1;
}
div#menu ul ul a span {
	padding: 0 10px 0px 10px;
    line-height: 20px;
    color: #ecba73;
    font-weight:normal;
    text-transform: none;

}
div#menu ul ul a:hover {
    background: url(images/submenu-selected-bottom.gif) no-repeat 8px bottom;
}
div#menu ul ul a:hover>span {
    background: url(images/submenu-selected-top.gif) no-repeat 0px 0px;
    color: #fff;
}



/* menu::level3 */
div#menu ul ul div {
    /*width: 208px;*/
    margin: -50px 0 0 190px !important;
    height: auto;
    _padding: 0 0 9px 3px;
}
div#menu ul ul ul {
    list-style: none;
    float: left;
    position: absolute;
    top: 23px;
    right: 196px;
	_padding-right:1px;
}

/* lava lamp */
div#menu li.back {
}
div#menu li.back .left {
}







/* menu::base */
div#menu_ev {
/*    height:55px;*/
/*
    background:url(images/nav-bg.png) repeat-x;
    _background:url(images/nav-bg.gif) repeat-x;
*/
}

div#menu_ev>ul {
    visibility: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    height: 100%;

}

div#menu_ev>ul:hover {
    background: rgb(212,84,0) url(images/nav_dropdown_grad.png) right top no-repeat;
}

div#menu_ev ul.menu {
/*    padding-left: 30px;*/

}

div#menu_ev li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0;
    display: block;
    float: right;
    height: 28px;
    color: #333;
    
}
   
div#menu_ev li:hover>ul {
    left: -2px;
    color: #fff;
}

div#menu_ev li div {
    list-style: none;
    float: left;
    position: absolute;
    top: 0px;
    right: 54px;
    /*width: 208px;*/
    z-index: 11;
    visibility: hidden;
    padding: 0 0 9px 7px;
    _padding: 0 0 9px 3px;
    background: url(images/submenu-bottom.png) no-repeat 7px bottom;
    _background-image: url(images/submenu-bottom.gif);
    margin: 0 0 0 -9px;
}
div#menu_ev li:hover>div {
    visibility: visible;
}

div#menu_ev li.current a {}

/* menu::level1 */
div#menu_ev a {
    position: relative;
    z-index: 10;
    /*height: 55px;*/
    display: inline;
    text-align: right;
    float: right;	
    padding: 0 10px 0 10px;
    /*line-height: 55px;*/
    text-decoration: none;
}
div#menu_ev span {
    font: normal 12px;
    /*padding-top: 18px;*/
    color: #333;
    letter-spacing: 0.05em;
    font-weight:normal;
    cursor: pointer;
    background-repeat: no-repeat;		
}
div#menu_ev ul a:hover span {
    /*color: #8D3900;*/
}

div#menu_ev li { /*background: url(images/nav_separator.png) top left no-repeat;*/ }
div#menu_ev li.last span{
    /*background: url(images/nav_separator.png) top right no-repeat;*/
    padding:0px 10px 16px 0;
}

div#menu_ev span:hover {
	color: #fff;
}

/* menu::level2 */
div#menu_ev ul ul li {
    background: url(images/nav_dropdown_sep.gif) left bottom repeat-x;
    padding: 0px 0;
    float: left;
    z-index: 9;	
}

div#menu_ev ul div.seclvl {
	visibility: hidden;
}

div#menu_ev ul li:hover>div.seclvl {
	visibility: visible;
}

div#menu_ev ul ul {
    z-index: 12;
    
    padding: 0;
    background: rgb(212,84,0) url(images/nav_dropdown_grad.png) right top no-repeat;
    margin-top:0px;
    margin-left:4px;
    margin-right:5px;
}
div#menu_ev ul ul a {
  	width: 184px;
	padding: 0px 7px 3px 8px;
    height: auto;
    float: none;
    display: block;
    background:none;
    margin-bottom: 2px;
    z-index: -1;
}
div#menu_ev ul ul a span {
	  padding: 0 10px 0px 10px;
    /*line-height: 20px;*/
    color: #ecba73;
    font-weight:normal;
    text-transform: none;
    background:none;
}
div#menu_ev ul ul a:hover {
/*
    background: url(images/submenu-selected-bottom.gif) no-repeat 8px bottom;
*/
}
div#menu_ev ul ul a:hover span {
/*
    background: url(images/submenu-selected-top.gif) no-repeat 0px 0px;
*/
    color: #fff;
}

div#menu_ev ul ul li.last { background: none; }
div#menu_ev ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu_ev ul ul div {
    /*width: 208px;*/
    
    margin: 0 142px 0 0 !important;
    height: auto;
    _padding: 0 0 9px 3px;
}
div#menu_ev ul ul ul {
	_padding-right:1px;
}

/* lava lamp */
div#menu_ev li.back {
}
div#menu_ev li.back .left {
}


