<h4>Basic Information</h4>
<span class="description">This information will be e-mailed to people
who buy books from you or sell books to you. It is important to keep
it up-to-date so that people can find you more easily.</span>
<br /><br />
<table>
  <tr>
    <td><strong>Name:</strong></td>
    <td>{{user_data.first_name}} {{user_data.last_name }}</td>
  </tr>
  <tr>
    <td><strong>Dorm Room:</strong></td>
    <td>{{user_data.dorm_name}} {{user_data.dorm_room}}</td>
  </tr>
</table>
<a href="/profile">Edit this info</a>
