{% extends "ptx/base.html" %}

{% block title %}Princeton Textbook Exchange{% endblock %}
{% block id%}help{% endblock %}

{% block content %}

<div id="overview">
  <h2>Help Using PTX</h2>

  <p>We aim to make buying and selling used
  textbooks as quick and painless as possible. We
  are constantly looking for ways to improve your
  overall experience, so
  please <a href="mailto:usg@princeton.edu">contact
  us</a> with any comments or questions unanswered
  here.</p>

  <p>PTX was created by Eric Domb, Katie
  Klosterman, Jonny Weiss, and Damien Zhang as
  part of their COS 333 project.</p>

  <h3>Browsing for Books</h3>

  <p>Click on the browse tab to bring up all
  classes with books stored in our database.
  Clicking on the course link will bring you to a
  list of books that are currently being offered
  or have previously been offered for that
  particular course. Note that not all books are
  currently being offered by students, but we do
  provide the option to add the book to your
  wishlist. If you add the book to your wishlist,
  you will get an email once it becomes
  available.</p>

  <h3>Buying a Book</h3>

  <p>If you decide to buy a book currently being
  offered, then simply click the 'Buy This Book'
  button on the book description page. Only click
  this button if you are really willing and able
  to pay the seller for the book; all transactions
  are binding. You and the seller will get an
  email and can then set up the transfer. After
  your transaction is completed, be sure to come
  back and close it on your account page and rate
  the seller.</p>

  <h3>Offering a Book for Sale</h3>

  <p>Selling books is easy! Simply click on the
  Offer tab and enter the course in which you used
  the book. Take time to ensure both the
  department and number are correct so others will
  be able to find your book. Next, you will be
  able to select your book from the list if it is
  already being offered by another seller, or type
  in the ISBN (International Standard Book Number)
  if the book is new to our database. If you
  sumbit a new ISBN, you will be presented with a
  picture and description to verify that it is
  indeed the correct book. Then complete the
  listing details, click 'List This Book' and wait
  to reap the profits!</p>

  <h3>Your Wishlist</h3>

  <p>If you need a book for a course, but there
  are no current offerings, you may add it to your
  wishlist. The wishlist is a convenient way to
  keep track of the books you're looking for and
  you will be notified once you log in if a book
  becomes available. Note that you are not
  reserving the book, so make sure to check back
  frequently for updates. There are two ways to
  place a book on your wishlist:</p>

  <ul>
    <li><strong>Browsing:</strong> If you click on
    a course in the browse tab and select a book
    with no current offerings, you have the option
    to add the book to your wishlist. Simply click
    the 'Add to Wishlist' link and you're all
    set!</li>

    <li><strong>Adding a book directly:</strong>
    If you know the ISBN number of the book you
    want, click on
    the <a href="wishlist">wishlist</a> tab and
    enter it into the field. Click the 'Add to
    Wishlist' button and it will be added. You can
    then view your wishlist, which will provide
    the Amazon list price and the best price
    available from sellers on PTX.</li>
  </ul>
</div>

<div id="faq">
  <h2>Frequently Asked Questions</h2>

  <h3>What happens after I buy a book?</h3>
  <p>You and the seller will both be sent an email
  with the book you purchased and the purchase
  price. It is then your responsibility to contact
  eachother to set up a convenient time and place
  for the book transfer to take place. PTX does
  not keep an inventory, nor do we regulate the
  physical transaction. After the excange has been
  made, be sure to come back
  and <a href="account">close the transaction</a>.
  Don't forget to rate the seller!</p>

  <h3>How do you find a book's ISBN?</h3>
  <p>The ISBN can be found on the back cover of
  the book itself, often at the bottom over a bar
  code. It will have either 10 or 13 digits;
  either is compatable with our system. If you
  cannot find the ISBN, search for your book on a
  site
  like <a href="http://www.amazon.com">Amazon</a>
  which will likely have the proper number under
  "Product Details."</p>

  <h3>I can't find a book I need!</h3>
  <p>After you find the books ISBN (see above),
  you may add it to your
  wishlist <a href="wishlist">here</a>. You will
  then receive a notification when you log into
  your account if the book becomes available
  (remember to check back frequently!).
  Alternatively, you may buy the book
  from <a href="http://www.amazon.com">Amazon</a>
  at its list price (though being patient can be
  much cheaper!).</p>

  <h3>I used this book for more than one class. What should I do?</h3>
  <p>To ensure that your book is viewed by the
  maximum number of people, we recommend selecting
  the course that you believe to be more popular.
  Unfortunately, we cannot support mulitple course
  references at this time, but when in doubt, list
  it under the course with the lowest number (e.g.
  a 101 course instead of 335) or most popular
  department (Politics instead of Slavic
  Languages).</p>

  <h3>My problem is not listed here.</h3>
  <p>First, make sure you
  are <a href="login">logged in</a> and
  your <a href="profile">account information</a>
  is complete and correct. If you are still having
  trouble, log out, log back in and try your
  action again. If the problem is still not
  resolved, <a href="mailto:usg@princeton.edu">contact
  us</a> and describe what you are trying to do,
  and how the error occured. We're sorry for the
  inconvenience!</p>
</div>
{% endblock %}
