{% extends "card/base_help.html" %}

{% block content %}

<center><h4><b>What is MealChecker?</b></h4></center>
MealChecker is a system which facilitates meal exchanges between members of different eating clubs at Princeton University.  Upon arrival at the club for a meal, the host and guest simply swipe their proxes, and their meal will be entered into the system.  On the third week of each month, any members with uncompleted exchanges will be notifed by email, and any meals which remain incomplete at the end of the month will be emailed to the managers of the respective clubs for charging.
<br>
<br>
<center><h4><b>Who uses MealChecker?</b></h4></center>
There are three basic types of users, each with their own abilities:
<br>
<ul>
<li><b>Members</b> are typical members of an eating club.  They must be registered into the system by a meal checker, and after that may participate in meal exchanges.  After logging into the site using their Princeton netid and password, members may view their meals for the month and check whether they have uncompleted exchanges.
<li><b>Meal Checkers</b> are members who have the ability to register users and enter meals into the system for any member of their club.
<li><b>Club Accounts</b> may add, edit, or remove club members, as well as any meals in which they have participated.  Users affiliated with a club account will receive a list of uncompleted exchanges at their club at the end of every month, and will be able to view statistics about past exchanges.  Club accounts do not require a Princeton netid.</ul>
<br>
<center><h4><b>Where can I find more information?</b></h4></center>
For more detailed information about use of the MealChecker system, clicking on "Help Index" above will bring you to a list of topics with help documentation.  If you do not find what you need there, please email the webmaster at [email address here].
<br>
<br>

{% endblock %}