{% extends "card/base_club.html" %}

{% block navsec %}
<ul class="navsec">
<li class="navsec"><a class="navsec" href="/logout_club">logout</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>Account Settings</h2>
   {% if errmes %}      
<script language="javascript" type="text/javascript"> alert('{{ errmes }}');</script>
   {% else %}
   {% if confirm %}
      <h4>{{ confirm }}</h4>
      {% endif %}
   {% endif %}


<h3>Change Club Email</h3>
<form action="/{{ club }}/account/" method="post">

{% for field in e_form %}
<div class="row">
  <span class="label">{{ field.label }}:</span>
  <span class="formw">{{field}}</span>
{% for error in field.errors %}
</div><div class="row">
  <span class="error">{{error}}</span>
{% endfor %}
</div>
{% endfor %}

<div class="row">
   <span class="formw"><input type="submit" value="Submit" class="button"></span></div>
</form>

<div style="clear:both;"></div><br/>

<h3>Change Password</h3>
<form action="/{{ club }}/account/" method="post">

{% for field in form %}
<div class="row">
  <span class="label">{{ field.label }}:</span>
  <span class="formw">{{field}}</span>
{% for error in field.errors %}
</div><div class="row">
  <span class="error">{{error}}</span>
{% endfor %}
</div>
{% endfor %}

<div class="row">
   <span class="formw"><input type="submit" value="Submit" class="button"></span></div>
</form>

{% endblock content %}
{% block footer %}
You can change the password for your club account here. 
{% endblock %}
{% block path %}
register
{% endblock %}
