{% extends "card/base_help.html" %}

{% block content %}
Two types of accounts exist.  The Personal/Meal Checker account is for club members, while the second is an administrative account for the club itself.  Buttons for logging in to both account types are located at the MealChecker home page.<br><br>

<b>Personal/Checker Login:</b> Club members log into their accounts via the Central Authentication System (CAS).  Click on the "Member/Checker Login" button on the home page and enter your Princeton netid and password.<br><br>
<b>Club Account Login:</b> Those with access to the club administrative account log in via a separate page which can be accessed by clicking "Club Account Login" on the home page.  Enter your club username and password into the resulting page.  If you don't know your club account username and/or password, contact either past officers from your club or the ICC system administrator.
{% endblock %}