{% extends "card/base_help.html" %}

{% block content %}
<p>Registration is handled by individual eating clubs.  Likely, your club has some system through which it adds all the new club members at the beginning of the semester.  However, if you are a member of an eating club and are not registered for MealChecker, there are two ways to sign up.<p>
<ul>
<li>Contact your club officers and ask to be registered.</li>
<li>Ask the meal checker at one of your meals in the club to register you.</li>
</ul>
{% endblock %}